APP_NAME=site.app
APP_ENV=develop
APP_KEY=base64:VfLYJImU/rSvYDPO/Z0kbunc2Lfmjz7+S5gNZvgIPPE=
APP_DEBUG=true
APP_URL=http://site.com/
APP_DOMAIN=site.loc
DEBUGBAR_ENABLED=true
LAST_MODIFIED_HEADER=false
BLADE_CACHE_DIRECTIVE_TTL=86400
FULL_CACHE=false

LOG_CHANNEL=stack

TELESCOPE_ENABLED=false

HORIZON_CRON_SUPERVISOR_ENABLED=false
QUERY_DETECTOR_ENABLED=false

DB_CONNECTION=mysql
#DB_HOST=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=dblogin
DB_USERNAME=dbuser
DB_PASSWORD='111111'
BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=database
REDIS_QUEUE=high,shop-emails,shop-sms,shop-order,low
REDIS_QUEUE_SHOP_REINDEX=shop-reindexProducts
#REDIS_QUEUE_SHOP_MEDIA=shop-media
SESSION_LIFETIME=120
QUEUE_CONNECTION=redis

#AMQP_HOST=127.0.0.1
#AMQP_PORT=5672
#AMQP_USER=quest
#AMQP_PASSWORD=quest
#AMQP_QUEUE=jobs2

#QUEUE_CONNECTION=rabbitmq
#RABBITMQ_DSN=amqp://
#RABBITMQ_HOST=goose.rmq2.cloudamqp.com
#RABBITMQ_VHOST=geqadaum
#RABBITMQ_USER=geqadaum
#RABBITMQ_PASSWORD=mrw9P6cZdLsRTvJXRTmMQmy_2xNwO5ZS
#RABBITMQ_QUEUE=jobs

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=secret_redis
REDIS_PORT=6379

#MAIL_DRIVER=mailgun
#MAIL_MAILER=mailgun
#MAIL_HOST=smtp.mailtrap.io
#MAIL_PORT=2525
#MAIL_USERNAME=null
#MAIL_PASSWORD=null
#MAIL_ENCRYPTION=null
#MAIL_FROM_ADDRESS=mailgun@mailgun.vis-design.com.ua
#MAIL_FROM_NAME="${APP_NAME}"
#MAILGUN_DOMAIN=mailgun.vis-design.com.ua
#MAILGUN_SECRET=c743c35b580aa3ce7be89b0b90168c60-ee13fadb-a1db6fa6
#MAILGUN_ENDPOINT=api.eu.mailgun.net

MAIL_DRIVER=smtp
MAIL_MAILER=smtp
MAIL_HOST=mail.vis-design.com
MAIL_PORT=587
MAIL_USERNAME=crm@mercurio-cms.com
MAIL_PASSWORD=2_0xS$.72]20=Al5S47n
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=info@mercurio-cms.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1AWS_BUCKET=

PUSHER_APP_ID=root
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

ELASTICSEARCH_ENABLED=true
#ELASTICSEARCH_HOSTS="http://laravel:i4N6LKcJPhR8Tdn@localhost:9200"
ELASTICSEARCH_HOSTS="elasticsearch:9200"

#scout
SCOUT_DRIVER=elastic
SCOUT_QUEUE=true
SCOUT_PREFIX="${APP_NAME}_"
SCOUT_ELASTIC_HOST="${ELASTICSEARCH_HOSTS}"
SCOUT_ELASTIC_DOCUMENT_REFRESH=true
SCOUT_ELASTIC_LOG_ENABLED=true
#---

LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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

LIQPAY_PUBLIC=xxx
LIQPAY_PRIVATE=xxx

PRIVAT_PAY_PARTS_STORE_ID=xxx
PRIVAT_PAY_PARTS_PASSWORD=xxx
PRIVAT_PAY_PARTS_TYPE=PP

MONO_PAY_PARTS_STORE_ID=xxx
MONO_PAY_PARTS_SECRET=xxx
MONO_MODE=Development

MONO_PAY_TOKEN=xxxxxxxxxxxxxxxxxx

WAYFORPAY_TEST=true
WAYFORPAY_DOMAIN="${APP_DOMAIN}"
WAYFORPAY_ACCOUNT=test_merch_n1
WAYFORPAY_SECRET_KEY=flk3409refn54t54t*FNJRET

RECAPTCHA_SITE_KEY=6LesI5YjAAAAAHa70p0Fz0JN0cYnLOKZiFnyuBjt
RECAPTCHA_SECRET_KEY=6LesI5YjAAAAAAXa2RTuiPkF08w6mQBsnwSsjMxv
RECAPTCHA_ACTIVE=false

FACEBOOK_CLIENT_ID=222
FACEBOOK_CLIENT_SECRET=111
FACEBOOK_URL_CALLBACK='https://linecore-demo.mercurio-cms.com/auth/facebook/callback'

GOOGLE_CLIENT_ID=4444
GOOGLE_CLIENT_SECRET=333
GOOGLE_URL_CALLBACK='https://linecore-demo.mercurio-cms.com/auth/google/callback'

WATERMARK_ENABLED=false
WATERMARK_POSITION=bottom-right
#WATERMARK_PATH='cms_files/logo-2_1640081329.png'
WATERMARK_PATH='img/velo_logo.png'

CHECKBOX_UA_DOMAIN='https://api.checkbox.in.ua'
CHECKBOX_UA_LOGIN='xxx'
CHECKBOX_UA_PASSWORD='xxx'
CHECKBOX_UA_LICENSE_KEY='xxx'

TURBOSMS_TEST_MODE=true
TURBOSMS_API_KEY=test
TURBOSMS_SMS_SENDER=test
TURBOSMS_VIBER_SENDER=test

ALPHASMS_API_KEY=demo
ALPHASMS_SMS_SENDER=
ALPHASMS_VIBER_SENDER=
ALPHASMS_VIBER_LIFETIME=60
ALPHASMS_VIBER_FORCE_SMS=1
ALPHASMS_SMS_SEND=true
ALPHASMS_VIBER_SEND=true

API_KEY=45438148-2108-4f0f-b80b-b122721a3e9f

NP_API_KEY=xxx

TOKEN_PROM=xxx


OCTANE_SERVER=swoole
OCTANE_HTTPS=true
