/node_modules
/public/hot
/storage/*.key
/public/builds
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
public/images/*
public/products/*
/public/js/app.js
/public/js/checkout.js
public/blocks/400x400
public/blocks/400x400/*
/packages/vis/builder
/packages/vis/builder/*
/webpack.mix (копия).js
/webpack_.mix.js
/Для запуска mix
/phpcs.phar
/phpcbf.phar
/phing-latest.phar
/_phpcs.xml
/_composer.lock
/_composer.json
/1.php
/storage/logs/
*.log
composer.phar
/.php-cs-fixer.cache
/dev/
/front/
.gitlab-ci.yml
/apache-config
/mysql-data
/website
/resources_orig

resources/dev/js/js.zip
_resources/admin/css/custom-admin-styles.scss
_resources/admin/js/app.js
_resources/dev/css/main.scss
_resources/dev/js/common.js
_resources/views/cms/definations/order.blade.php
package-lock.json
public/_index.html
/public/adminer.php
/adminer.sql.gz
cmdRun.bat
/sql/
docker-compose._ymlrr
.rr.yaml
