{
    "fix": true,
    "rules": {
        "no-duplicate-selectors": true,
        "no-duplicate-properties": true,
        "no-duplicate-at-import-rules": true,
        "no-duplicate-media-features": true
    }
}
