@import "../helpers/vars";

.account-history{
	
	.empty-block{
		.empty-section{
			background: $white;
			border-radius: 4px;
			box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
			@media(max-width: 850px){
				padding: 16px;
			}
			p{
				a{
					color: $blue;
					transition: .3s;
					&:hover{
						text-decoration: underline;
						color: $blue-100;
					}
				}
			}
		}
		.info-section{
			box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
			.top-row{
				padding: 16px 24px 20px 24px;
				border-bottom: 1px solid #F0F1F3;
				@media(max-width: 850px){
					padding: 16px;
				}
				.closer{
					cursor: pointer;
					transition: .3s;
					display: flex;
					align-items: center;
					justify-content: center;
					&:hover{
						opacity: .7;
					}
					img{
						width: 20px;
						height: 20px;
						object-fit: contain;
					}
				}
			}
			.prod-row{
				padding: 8px 24px;
				.name{
					transition: .3s;
					&:hover{
						color: $blue-100;
					}
				}
				@media(max-width: 850px){
					padding: 16px;
					.desc{
						.name{
							line-height: 1.5rem;
							width: 100%;
							max-width: 134px;
							max-height: 3rem;
							-webkit-box-orient: vertical;
							display: block;
							display: -webkit-box;
							overflow: hidden!important;
							text-overflow: ellipsis;
							-webkit-line-clamp: 4;
							text-overflow: ellipsis;
							transition: .3s;
						}
						.row{
							display: none;
						}
					}
					.right{
						flex-direction: column;
						row-gap: 8px;
						p{
							font-size: 14px;
						}
						.main-btn{
							height: 32px;
							padding: 4px 16px;
							font-size: 15px;
						}
					}
				}
				.img{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 80px;
					height: 80px;
					margin-right: 12px;
					@media(max-width: 850px){
						width: 42px;
						height: 42px;
					}
					img{
						width: 60px;
						height: 60px;
						object-fit: contain;
						@media(max-width: 850px){
							width: 42px;
							height: 42px;
						}
					}
				}
				.raiting{
					transition: .3s;
					span{
						transition: .3s;
					}
					&:hover{
						opacity: .7;
						span{
							color: $blue-100;
						}
					}
				}
			}
		}
	}
	&__wrap{
		row-gap: 8px;
		.history-row{
			box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
			display: flex;
			flex-direction: column;
			&.active{
				row-gap: 40px;
				.hidden-row{
					height: auto;
					opacity: 1;
					visibility: visible;
				}
				.visible-row{
					.center{
						opacity: 0;
						display: none;
					}
					.image{
						opacity: 0;
						display: none;
					}
					.icon{
						transform: translateY(-50%) rotate(180deg);
						@media(max-width: 850px){
							transform: translateY(0) rotate(180deg);
						}
					}
				}
			}
			.hidden-row{
				position: relative;
				transition: .3s;
				visibility: hidden;
				opacity: 0;
				height: 0;
				@media(max-width: 850px){
					.hidden-row-wrap{
						flex-direction: column-reverse;
						row-gap: 24px;
					}
				}
				&:before{
					content: '';
					display: block;
					position: absolute;
					top: -24px;
					left: 50%;
					width: calc(100% + 48px);
					height: 1px;
					background: rgba(240, 241, 243, 1);
					transform: translateX(-50%);
				}
				.left-block{
					width: 100%;
					max-width: calc(100% - 380px);
					@media(max-width: 850px){
						max-width: 100%;
					}
					.prod-rows{
						row-gap: 16px;
						.prod-row{
							padding-bottom: 16px;
							border-bottom: 1px solid rgba(175, 177, 195, .4);
							a{
								transition: .3s;
								color: $black;
								&:hover{
									color: $blue-100;
								}
							}
							.img{
								display: flex;
								align-items: center;
								justify-content: center;
								width: 80px;
								height: 80px;
								img{
									width: 60px;
									height: 60px;
									object-fit: contain;
								}
							}
							.prdod-info{
								width: calc(100% - 92px);
								row-gap: 8px;
								.row{
									@media(max-width: 768px){
										align-items: flex-end;
									}
								}
								.price{
									column-gap: 12px;
									width: 100%;
									max-width: 150px;
									@media(max-width: 850px){
										max-width: 80px;
										flex-direction: column;
										align-items: flex-start;
									}
									@media(max-width: 768px){
										flex-direction: column;
										align-items: flex-start;
									}
								}
							}
						}
					}
				}
				.right-block{
					width: 340px;
					margin-left: auto;
					.delete-order{
						margin-top: 24px;
						color: $blue;
						transition: .3s;
						cursor: pointer;
						&:hover{
							color: $blue-100;
							text-decoration: underline;
						}
					}
					a{
						&.flex{
							transition: .3s;
							&:hover{
								text-decoration: underline;
								color: $blue-100;
							}
						}
					}
					@media(max-width: 850px){
						width: 100%;
						margin-left: 0;
						padding: 16px;
					}
					.copy-btn{
						cursor: pointer;
						transition: .3s;
						&:hover{
							opacity: .6;
						}
					}
				}
			}
			.visible-row{
				// column-gap: 40px;
				padding-right: 88px;
				position: relative;
				&:before{
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 2px;
					border-radius: 2px;
				}
				@media(max-width: 850px){
					flex-flow: row;
					flex-wrap: wrap;
					row-gap: 16px;
					padding-right: 0;
				}
				.icon{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 24px;
					height: 24px;
					position: absolute;
					transition: .3s;
					right: 24px;
					top: 50%;
					transform: translateY(-50%);
					cursor: pointer;
					@media(max-width: 850px){
						transform: translateY(0);
						top: 10px;
						right: 0;
					}
				}
			}
			&.new-order{
				.visible-row{
					&:before{
						background: $orange;
					}
				}
			}
			&.done{
				.visible-row{
					&:before{
						background: $green;
					}
				}
			}
			&.cancele{
				.visible-row{
					&:before{
						background: #AFB1C3;
					}
				}
				.visible-row{
					.left, .center, .image{
						opacity: .5;
					}
				}

			}
			.left{
				position: relative;
				row-gap: 4px;
				max-width: 380px;
				width: 100%;
				@media(max-width: 1180px){
					max-width: 320px;
				}
				@media(max-width: 850px){
					max-width: 100%;
					width: 100%;
				}
			}
			.center{
				row-gap: 4px;
				max-width: 154px;
				width: 100%;
				transition: .3s;
				margin-left: 40px;
				@media(max-width: 850px){
					margin-left: 16px;
					max-width: 119px;
				}
			} 
			.image{
				display: flex;
				align-items: center;
				column-gap: 16px;
				transition: .3s;
				margin-left: auto;
				max-width: 192px;
				// @media(max-width: 1180px){
				// 	max-width: 120px;
				// 	overflow: hidden;
				// }
				
				img{
					width: 42px;
					height: 42px;
					object-fit: contain;
					&:nth-of-type(3){
						@media(max-width: 1180px){
							display: none;
						}
					}
				}
			}
		}
	}
}