@import "../helpers/vars";


.account-subs{
	@media(max-width: 850px){
			padding: 16px;
		}
	.top-row{
		row-gap: 16px;
		margin-top: 24px;
		padding-bottom: 24px;
		border-bottom: 1px solid #F0F1F3;
		@media(max-width: 850px){
			padding-bottom: 16px;
		}
	}
	.bottom-row{
		row-gap: 16px;
	}
	.checkbox-row{
		.checkbox{
			padding: 0;
			cursor: pointer;
			height: 18px;
			width: 18px;
			input{
				cursor: pointer;
			}
			&:hover{
				background: $white;
			}
		}
		.right{
			width: calc(100% - 24px);
			padding-left: 16px;
			display: flex;
			flex-direction: column;
			row-gap: 8px;
		}
	}
}