@import "../helpers/vars";


.blog{
	@media(max-width: 1080px){
		.heading{
			font-size: 24px;
		}
	}
	.scrl{
		@media(max-width: 1180px){
			max-width: 50%;
			overflow: auto hidden;
			-ms-overflow-style: none; 
                scrollbar-width: none; 
		}
				.scrl::-webkit-scrollbar {
            display: none; // Safari and Chrome
        }	

		
	}
	@media(max-width: 992px){
		.flex-row{
			flex-direction: column;
			align-items: flex-start;
			row-gap: 8px;
			.scrl{
				overflow: auto hidden;
				width: 100%;
				width: calc(100% + 40px);
				margin-left: -20px;
				padding: 0 20px;
				max-width: calc(100% + 40px);
				@media(max-width: 992px){
					width: calc(100% + 24px);
					margin-left: -12px;
					padding: 0 12px;
				}
			}
		}
	}
	.blog-tabs{
		column-gap: 24px;
		.blog-tab{
			position: relative;
			transition: .3s;
			cursor: pointer;
			color: $gray;
			padding-bottom: 4px;
			white-space: nowrap;
			@media(max-width: 600px){
				white-space: nowrap;
				&:last-of-type{
					padding-right: 20px;
				}
			}
			&.current{
				color: $blue;
				&:after{
					opacity: 1;
				}
			}
			&:after{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background: $blue;
				transition: .3s;
				opacity: 0;
			}
		}
	}
	.screen{
		display: none;
		&.screen-1{
			display: block;
		}
	}
	&__wrap{
		column-gap: 16px;
		row-gap: 24px;
		@media(max-width: 850px){
			row-gap: 16px;
		}
		.news{
			width: calc(25% - 12px);
			@media(max-width: 1080px){
				width: calc(33.333% - 10px);
			}
			@media(max-width: 850px){
				width: calc(50% - 8px);
			}
			@media(max-width: 600px){
				width: 100%;
			}
			&:hover{
				.img{
					img{
					transform: scale(1.1);
					}
				}
				.name{
					color: $blue-100;
				}
			}
			.name{
				line-height: 1.5rem;
				width: 100%;
				max-height: 3rem;
				-webkit-box-orient: vertical;
				display: block;
				display: -webkit-box;
				overflow: hidden!important;
				text-overflow: ellipsis;
				-webkit-line-clamp: 4;
				text-overflow: ellipsis;
				transition: .3s;
			}
			.img{
				overflow: hidden;
				height: 200px;
				border-radius: 4px;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: .3s;
				}
			}
		}
	}
}



.single-post{
	@media(max-width: 1080px){
	
		.heading{
			font-size: 24px;
		}
	}
	&__wrap{
		margin-top: 24px;
		.left{
			width: calc(100% - 463px);
			@media(max-width: 1080px){
				width: 100%;
			}
			.content{
				row-gap: 16px;
				img{
					width: 100%;
					object-fit: cover;
					margin-top: 24px;
				}
				h2{
					margin-top: 24px;
					font-weight: 600;
					font-size: 28px;
					@media(max-width: 1080px){	
						font-size: 20px;
					}
				}
				strong{
					font-weight: 600;
				}
				a{
					color: $blue;
					transition: .3s;
					&:hover{
						text-decoration: underline;
						color: $blue-100;
					}
				}
				ol{
					display: flex;
					flex-direction: column;
					row-gap: 12px;
					counter-reset: counts 0;
					li{
						padding-left: 44px;
						counter-increment: counts 1;
						position: relative;	 
		                &:before{
		                    content: counters(counts, ".");
		                    position: absolute;
		                    left: 0;
		                    top: 0;
		                    font-size: 16px;
		                    color: #7F90B1;
		                    width: 32px;
		                    height: 32px;
		                    display: flex;
		                    align-items: center;
		                    justify-content: center;
		                    background: $white;
		                    border-radius: 50%;
		                }
					}
				}
				ul{
					display: flex;
					flex-direction: column;
					row-gap: 8px;
					li{
						padding-left: 20px;
						position: relative;
						&:before{
							content: '';
							display: block;
							position: absolute;
							left: 5px;
							width: 4px;
							height: 4px;
							border-radius: 50%;
							background: $black;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
			}
		}
		.side-bar{
			width: 403px;
			border-radius: 4px;
			box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
			background: $white;
			position: sticky;
			top: 90px;
			@media(max-width: 1080px){
				display: none;
			}
			.news-rows{
				row-gap: 16px;
				.news-row{
					&:last-of-type{
						padding-bottom: 0;
					}
					&:not(:last-of-type){
						border-bottom: 1px solid #F0F1F3;
					}
					&:hover{
						.img{
							img{
								transform: scale(1.1);
							}
						}
						a{
							color: $blue-100;
						}
					}
					.img{
						overflow: hidden;
						width: 70px;
						height: 70px;
						border-radius: 4px;
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
							transition: .3s;
						}
					}
					.right{
						width: calc(100% - 70px);
						padding-left: 12px;
						a{
							transition: .3s;
						}
						span{
							margin-top: auto;
						}
					}
				}
			}
		}
	}
}