@import "../helpers/vars";

.checkout{
	margin-top: -40px;
	.chechkout-heading{
		max-width: 970px;
		margin-left: auto;
		margin-right: auto;
		@media(max-width: 1080px){
			font-size: 24px;
			margin-left: 0;
		}
	}
	&__wrap{
		max-width: 970px;
		margin-left: auto;
		margin-right: auto;
		@media(max-width: 1180px){
			max-width: 100%;
		}
		@media(max-width: 992px){
			flex-direction: column;
			row-gap: 16px;
		}
		.content{
			width: calc(100% - 418px);
			@media(max-width: 992px){
				width: 100%;
			}
			.form-section-2{
				.droppdown-other{
					margin-top: 24px;
					/*display: none;*/
					.wrapper{
						display: flex;
						flex-flow: row;
						flex-wrap: wrap;
						align-items: center;
						justify-content: space-between;
						row-gap: 16px;
						.input{
							width: calc(50% - 8px);
							@media(max-width: 600px){
								width: 100%;
							}
							&:not(.not-full-width):last-of-type{
								width: 100%;
							}
						}
					}
				}
				.checkbox{
					padding: 0;
					border-radius: 0;
					&:hover{
						background: transparent;
					}
				}
				.main-btn{
					max-width: 180px;
					margin-top: 24px;
				}

				.radio-row {
					.info{
						padding-left: 35px;
						line-height: 140%;
					}
				}
			}
			.form-section-3{
				.bank-droppdown{
					padding-left: 0;
					display: none;
					.wrapper{
						row-gap: 8px;
					}
					.row{
						border: 1px solid #EBEDF3;
						transition: .3s;
						&.current{
							background: #EFF7FF;
							.hidden{
								display: block;
							}
						}
						.visible{
							column-gap: 16px;
							cursor: pointer;
							img{
								width: 24px;
								height: 24px;
								object-fit: contain;
							}
						}
						.hidden{
							margin-top: 16px;
							padding-top: 16px;
							border-top: 1px solid #C0E1FD;
							display: none;
							.question{
								width: fit-content;
								cursor: pointer;
								&:hover{
									.hid{
										visibility: visible;
										opacity: 1;
									}
								}
								.hid{
									position: absolute;
									font-size: 10px;
									background: $white;
									border-radius: 4px;
									border: 1px solid #EBEDF3;
									max-width: 220px;
									padding: 5px;
									bottom: calc(100% + 5px);
									left: -100px;
									transition: .3s;
									visibility: hidden;
									opacity: 0;
									@media(max-width: 1180px){
										left: 0;
										width: 100%;
										max-width: 250px;
									}
									&:after{
										content: '';
										display: block;
										position: absolute;
										bottom: 0;
										left: 0;
										width: 100%;
										height: 8px;
										border-radius: 0 0 4px 4px;
										background: $white;
										z-index: 2;
									}
									&:before{
										content: '';
										display: block;
										position: absolute;
										width: 10px;
										height: 10px;
										background: $white;
										border: 1px solid #EBEDF3;
										bottom: -5px;
										left: 50%;
										transform: translateX(-50%) rotate(45deg);
									}
								}
								.vis{
									column-gap: 8px;
								}
								img{
									width: 18px;
									height: 18px;
									object-fit: contain;
								}
							}
							.flex-row{
								column-gap: 24px;
								@media(max-width: 768px){
									flex-direction: row;
									align-items: center;
									padding-bottom: 30px;
									position: relative;
									p{
										padding-left: 0;
										&.color--gray{
											position: absolute;
											bottom: 0;
											left: 50%;
											transform: translateX(-50%);
											width: 100%;

										}
									}
								}
								p{
									display: flex;
									align-items: center;
									column-gap: 8px;
									strong{
										font-size: 18px;
										font-weight: 600;
									}
								}
							}
							.select{
								max-width: 150px;
								@media(max-width: 992px){
									max-width: 120px;
								}
								input{
									padding-top: 11px;
									padding-bottom: 11px;
								}
							}
						}
					}
				}
				.get-comment-area{
					transition: .3s;
					cursor: pointer;
					&:hover{
						text-decoration: underline;
						color: $blue-100;
					}
				}
				.comment-area{
					/*display: none;*/
				}
				.main-btn{
					width: 100%;
				}
				.radios{
					row-gap: 24px;
				}
				.radio-row{
					padding-left: 16px;
					padding-right: 16px;
					.card-images{
						column-gap: 8px;
						width: auto;
						@media(max-width: 992px){
							column-gap: 6px;
						}
						.img{
							img{
								height: 15px;
								object-fit: contain;
								@media(max-width: 768px){
									height: 10px;
								}
							}
							&:not(:last-child){
								padding-right: 8px;
								border-right: 1px solid rgba(175, 177, 195, .4);
							}
						}
					}
					.images{
						img{
							width: 20px;
							height: 20px;
							object-fit: contain;
						}
					}
					.info{
						padding-left: 35px;
						line-height: 140%;
					}
				}
			}
			.form-section{
				box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
				@media(max-width: 768px){
					width: calc(100% + 40px);
					margin-left: -20px;
					padding: 16px;
					border-radius: 0;
					@media(max-width: 600px){
					width: calc(100% + 24px);
					margin-left: -12px;
				}
				}
				.cb-row {
					padding-bottom: 16px;
					border-bottom: 1px solid #AFB1C366;
					.btn{
						cursor: pointer;
						transition: .3s;
						&:hover{
							text-decoration: underline;
							color: $blue-100;
						}
					}
					.cb{
						img{
							margin-right: 12px;
							width: 24px;
							height: 24px;
							object-fit: contain;
						}
					}
				}
				.radio-wrapper{
					row-gap: 8px;
				}
				.radio-row{
					@media(max-width: 768px){
						.radio{
							span{
								width: calc(100% - 36px);
							}
						}
						.flex-row{
							flex-direction: column;
							align-items: flex-start;
							p{
								padding-left: 38px;
							}
						}
					}
					&.current{
						background: #EFF7FF;
					}
					.radio{
						column-gap: 16px;
					}
					.get-search-on-map{
						cursor: pointer;
						transition: .3s;
						img{
							width: 18px;
							height: 18px;
							object-fit: contain;
							margin-right: 8px;
						}
						&:hover{
							opacity: .7;
						}
					}
					.droppdown-wrap{
						padding-left: 35px;
						// &.bank-droppdown{
						// 	padding-left: 0;
						// 	margin-top: 16px;
						// }
						display: none;
						&.droppdown-wrap-1{
							display: block;
						}
						.col-wrapper{
							row-gap: 16px;
							.row{
								.input{
									width: calc(50% - 8px);
								}
							}
						}
					}
				}
				.tabs{
					column-gap: 24px;
					.tab, .tabbed{
						transition: .3s;
						padding-bottom: 4px;
						position: relative;
						color: $gray;
						cursor: pointer;
						&.current{
							color: $blue-dark;
							&:after{
								opacity: 1;
							}
						}
						&:after{
							content: '';
							display: block;
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							height: 2px;
							background: $blue-dark;
							transition: .3s;
							opacity: 0;
						}
					}
				}
				.screens{
					.screen{
						display: none;
						&.screen-2{
							.sc-2{
								display: none;
								.back-to-sc-1{
									transition: .3s;
									cursor: pointer;
									&:hover{
										text-decoration: underline;
										color: $blue-100;
									}
								}
								p{
									max-width: 380px;
								}
								.input-row{
			                        column-gap: 8px;
			                        input{
			                            width: 44px;
			                            height: 44px;
			                            border-radius: 4px;
			                            font-weight: 400;
			                            font-size: 16px;
			                            border: 1px solid #D2D7E5;
			                            transition: .3s;
			                            background: $white;
			                            display: flex;
			                            justify-content: center;
			                            padding: 11px 11px;
			                            text-align: center;
			                            &:hover{
			                                border: 1px solid #C0E1FD;
			                            }
			                            &:focus{
			                                border: 1px solid $blue;
			                            }
			                        }
			                    }
							}
						}
						&.screen-1{
							display: block;
							form, .form{
								display: flex;
								flex-flow: row;
								flex-wrap: wrap;
								row-gap: 16px;
								column-gap: 16px;
								.input{
									width: 100%;
									&:first-of-type{
										width: calc(50% - 8px);
										@media(max-width: 768px){
											width: 100%;
										}
									}
									&:nth-of-type(2){
										width: calc(50% - 8px);
										@media(max-width: 768px){
											width: 100%;
										}
									}
								}
								.city-row{
									width: 100%;
									column-gap: 16px;
									.city{
										transition: .3s;
										cursor: pointer;
										&:hover{
											text-decoration: underline;
											color: $blue-100;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.right-side-bar{
			width: 402px;
			box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
			position: sticky;
			top: 90px;
			@media(max-width: 992px){
				width: 100%;
				position: static;
			}
			.simplebar-track.simplebar-horizontal{
                    display: none;
                }
                .simplebar-scrollbar::before {
                    width: 4px;
                    background: rgba(10, 5, 39, .2);
                    border-radius: 10px;

                }
			.top-row{
				border-bottom: 1px solid #F0F1F3;
			}
			.middle-row{
				row-gap: 12px;
				padding-bottom: 0;
				/*max-height: 260px;
				overflow: hidden auto;*/
				padding-right: 32px;
				.prod-row{
					/*padding-bottom: 12px;*/
					padding: 12px 0;
					border-bottom: 1px solid #F0F1F3;
					position: relative;
					&.active{
						.calc-wrap{
							position: static;
							visibility: visible;
							opacity: 1;
						}
						.trash{
							visibility: visible;
							opacity: 1;
						}
					}
					.name{
						display: flex;
						max-width: 80%;
						transition: .3s;
						&:hover{
							color: $blue-100;
						}
					}
					.price {
						column-gap: 12px;
					}
					.calc-wrap{
						visibility: hidden;
						opacity: 0;
						position: absolute;
						transition: .3s;
					}
					.trash{
						opacity: 0;
						visibility: hidden;
						position: absolute;
						right: 0;
						top: 10px;
						width: 24px;
						height: 24px;
						cursor: pointer;
						transition: .3s;
						svg{
							width: 100%;
							height: 100%;
						}
						&:hover{
							opacity: .7;
						}
					}
					.image{
						width: 80px;
						height: 80px;
						img{
							width: 60px;
							height: 60px;
							object-fit: contain;
						}
					}
					.right{
						width: calc(100% - 92px);
						margin-left: auto;
					}
				}
				.prod-row:first-child {
					padding-top:0;
				}
			}
			.get-edit-order{
				transition: .3s;
				cursor: pointer;
				&:hover{
					color: $blue-100;
					text-decoration: underline;
				}
			}
			.bottom-row{
				row-gap: 16px;
				.final-price{
					border-top: 1px solid rgba(175, 177, 195, .4);
				}
				.info-rows{
					row-gap: 8px;
					span{
						&.orange{
							column-gap: 10px;
							color: $orange;
							img{
								width: 20px;
								height: 20px;
								object-fit: contain;
							}
						}
					}
				}
			}
			.promo-wrap{
				padding: 16px 12px;
				.visible-row{
					cursor: pointer;
					&.active{
						.icon{
							transform: rotate(180deg);
						}
					}
					.icon{
						transition: .3s;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 18px;
						height: 18px;
					}
				}
				.hidden-row{
					margin-top: 16px;
					display: none;
					.input{
						display: flex;
						align-items: center;
						justify-content: space-between;
					}

					 input{
                        padding-right: 40px;
                        &:not(:placeholder-shown){
                        	width: calc(100% - 56px);
                            &~.input-placeholder-clear{
                                visibility: visible;
                                opacity: 1;
                                right: 60px;
                                &:hover{
                                    opacity: .5;
                                }
                            }
                            &~.main-btn{
                            	display: flex;
                            }
                        }
                    }
                    .main-btn{
                    	display: none;
                    	width: 48px;
                    }
					p {
						.error {
							margin-top:10px;
						}
					}
                    .input-placeholder-clear{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 10px;
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                        visibility: hidden;
                        opacity: 0;
                        transition: .3s;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
				}
			}
		}
	}
}
