@import "../helpers/vars";

.form-content{
	background: $white;
	border-radius: 4px;
	@media(max-width: 600px){
			padding: 16px;
		}
	form{
		row-gap: 16px;
		border-top: 1px solid #F0F1F3;
		.max-w{
			max-width: 425px;
		}
		.main-btn{
			max-width: 200px;
		}
	}
	.info{
		background: #EFF7FF;
		border-radius: 4px;
		a{
			transition: .3s;
			&:hover{
				text-decoration: underline;
				color: $blue-100;
			}
		}
	}
}
.return, .service{
	@media(max-width: 1080px){
		.heading{
			font-size: 24px;
		}
	}
}