@import "../helpers/vars";


.thanks{
	.heading{
		br{
			display: none;
		}
	}
	@media(max-width: 1080px){
		padding-top: 14px;
		padding-bottom: 60px;
		.heading{
			font-size: 24px;
			@media(max-width: 768px){
				br{
					display: block;
				}
			}
		}
	}
	.top-row{
		max-width: 968px;
		margin-left: auto;
		margin-right: auto;
		a{
			transition: .3s;
			&:hover{
				text-decoration: underline;
				color: $blue-100;
			}
		}
	}
	&__wrap{
		@media(max-width: 850px){
			flex-direction: column;
			row-gap: 16px;
		}
		.side-bar{
			width: 402px;
			box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
			@media(max-width: 850px){
				width: 100%;
				padding: 16px;
			}
			.prod-images{
				margin-top: 32px;
				column-gap: 12px;
				row-gap: 12px;
				.img{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 80px;
					height: 80px;
					transition: .3s;
					&:hover{
						opacity: 0.7;
					}
					img{
						width: 60px;
						height: 60px;
						object-fit: cover;
					}
				}
			}
			.order-info{
				padding-top: 12px;
				padding-bottom: 16px;
				border-top: 1px solid #F0F1F3;
				border-bottom: 1px solid #F0F1F3;
				row-gap: 8px;
				p{
					column-gap: 8px;
					img{
						width: 20px;
						height: 20px;
						object-fit: contain;
					}
				}
			}
		}
		.content{
			width: calc(100% - 418px);
			box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
			row-gap: 24px;
			@media(max-width: 850px){
				width: 100%;
				padding: 16px;
			}
			.other-info{
				.mob-br{
					br{
						display: none;
						@media(max-width: 768px){
							display: block;
						}
					}
				}
			}
			.info{
				row-gap: 8px;
				.row{
					column-gap: 24px;
					p, a{
						width: calc(50% - 12px);
						display: block;
					}
				}
			}
		}
	}
}