@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

#header>:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

#header {
    height: 55px;
}

#header>div.pull-right {
    flex-direction: row-reverse;
    align-items: center;
    height: 55px;
    display: flex;
}

.smart-style-4 #header>:first-child {
    background: #252a3d!important;
}

.smart-style-4:not(.menu-on-top) #left-panel {
    padding-top: 62px;
}

.smart-style-4:not(.menu-on-top) nav ul li a:hover,
.smart-style-4:not(.menu-on-top) nav ul li.active a {
    background: inherit;
    color: #fff!important;
}

.smart-style-4:not(.menu-on-top) nav ul li a:active{
    background: inherit!important;
    color: #fff!important;
}

#logo-group>span {
    float: none;
    text-align: center;
    height: auto;
    width: 60%;
    margin-top: 0!important;
    margin-left: 0!important;
}

#logo img {
    padding-left: 0;
}

#left-panel {
    padding-top: 63px
}

.btn-header>:first-child>a {
    margin:0;
}
.header-dropdown-list>li>.dropdown-toggle {
    margin-top: 0;
}

.smart-style-4 aside {
    background: #2a3042;
}

.smart-style-4 nav ul li a {
    color: #a6b0cf;
}

.smart-style-4 nav ul li.open>a, .smart-style-4 nav ul ul {
    background: #282d3d;
}

.smart-style-4 nav>ul>li>ul>li>a, .smart-style-4 nav>ul>li>ul>li>ul>li>a {
    color: #79829c!important;
}

.MessageBoxMiddle .MsgTitle {
    line-height: 2.2em;
}
.MessageBoxButtonSection {
    margin-top:30px;
}
#divSmallBoxes .SmallBox .textoFull {
    padding-top: 5px;
    padding-bottom: 5px;
}
#divSmallBoxes .SmallBox .textoFull p:empty {
    display: none;
}
#divSmallBoxes .miniPic {
    top: 12px;
}
.jarviswidget>header {
    height: 38px;
    border-radius: 4px 4px 0 0;
}
.jarviswidget>header h2 {
    line-height: 36px;
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto, serif;
}
.widget-toolbar {
    height: 37px;
    line-height: 37px;
}
.jarviswidget>header>.widget-icon {
    font-size: 100%;
    line-height: 36px;
    height: 37px;
}
.jarviswidget .widget-body {
    min-height: auto!important;
}

.nav-tabs {
    margin-top: 3px;
}
.tox-tinymce-aux {
    z-index:100000!important;
}
.tox-tinymce {
    border: none!important;
}
@media (max-width: 768px) {
    .nav-tabs {
        height: 38px;
        margin-top: -1px;
        line-height: 37px;
    }
}

/*Leftmenu*/
.smart-style-4 nav>ul ul li:before {
    display: block;
    top: 13px;
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 18px;
    margin-top: 0;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.smart-style-4 nav>ul ul:after {
    border-left: 1px solid #334351;
    bottom: 0;
    content: "";
    left: 22px;
    position: absolute;
    top: 0;
}

/* Forms && Sections */
.smart-form section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 4px;
}
.smart-form section:not([class^="col-"]):not([class*=" col-"]) {
    width: 100%;
    display: block;
    float: left;
}
.smart-form section button, .smart-form section .btn {
    width: fit-content;
}
.smart-form fieldset {
    margin: 0 -2px;
}
.smart-form .input-file .button {
    height: 24px;
}
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    border-radius: 2px!important;
}
.smart-form .label {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
.select2-container {
    height: auto;
}
.select2-container .select2-choice {
    border:none;
}

.smart-form section.multilang .nav-tabs>li>a {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.smart-form section.multilang .tab-content.padding-5 {
    padding: 10px 0!important;
}
.ui-multiselect li {
    line-height: 1.5em;
    height: auto;
    padding: 3px 0;
}

.ui-multiselect .ui-state-hover {
    border-bottom: 1px solid #ddd;
}