<div class="custom-swiper-wrapper">
			<div class="best-product-swiper swiper custom-swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
								<div class="product-card">
									<div class="before"></div>
									<div class="labels">
										<div class="label super-price">Супер ціна</div>
										<div class="label discount">-15%</div>
									</div>
									<div class="buttons">
										<button class="compare cart-btn">
											<img src="assets/images/compare-gray.svg" alt="" class="visible">
											<img src="assets/images/compare-active.svg" alt="" class="hidden">
										</button>
										<button class="like cart-btn">
											<img src="assets/images/heart-gray.svg" alt="" class="visible">
											<img src="assets/images/heart-active.svg" alt="" class="hidden">
										</button>
									</div>
									<div class="top">
										<div class="image image-1">
											<div class="images">
												<img src="assets/images/p-i1.png" alt="">
											</div>
										</div>
										<div class="image image-2">
											<div class="images">
												<img src="assets/images/p-i2.png" alt="">
											</div>
										</div>
										<div class="image image-3">
											<div class="images">
												<img src="assets/images/p-i3.png" alt="">
											</div>
										</div>
										<div class="image image-4">
											<div class="images">
												<img src="assets/images/p-i4.png" alt="">
											</div>
										</div>
										<!-- <div class="colors flex v--center">
											<span class="color product-card-color current" style="background: #A8B9C9;" data-color="1"></span>
											<span class="color product-card-color" style="background: #1D252B;" data-color="2"></span>
											<span class="color product-card-color" style="background: #E6E0EB;" data-color="3"></span>
											<span class="color product-card-color" style="background: #FC102F;" data-color="4"></span>
											<a href="" class="all-colors">+1</a>
										</div> -->
									</div>
									<div class="bottom">
										<a href="" class="product-name fsz-16 fw-400 color--black">Смартфон Apple iPhone 14 512GB Blue (MPXN3)</a>
										<div class="row flex v--center h--between">
											<div class="left">
												<span class="fsz-12 color--gray">Код товару: 912455</span>
											</div>
											<div class="right">
												<a href="" class="raiting flex v--center">
													<span class="stars flex v--center">
														<img src="assets/images/star-full.svg" alt="">
														<img src="assets/images/star-full.svg" alt="">
														<img src="assets/images/star-full.svg" alt="">
														<img src="assets/images/star-full.svg" alt="">
														<img src="assets/images/star-empty.svg" alt="">
													</span>
													<span class="num color--black fsz-13">129</span>
												</a>
											</div>
										</div>
										<div class="bank-row flex v--center">
											<div class="bank">
												<div class="visible flex v--center">
													<img src="assets/images/mono-black.svg" alt="">
													<div class="num fsz-12 color--gray">3</div>
												</div>
												<div class="hidden">
													<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
													<ol>
														<li>1. Наявність кредитної картки ПриватБанку.</li>
														<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
													</ol>
													<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
													<a href="" class="main-btn blue-small">Докладніше</a>									
												</div>
											</div>
											<div class="bank">
												<div class="visible flex v--center">
													<img src="assets/images/privat.svg" alt="">
													<div class="num fsz-12 color--gray">6</div>
												</div>
												<div class="hidden">
													<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
													<ol>
														<li>1. Наявність кредитної картки ПриватБанку.</li>
														<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
													</ol>
													<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
													<a href="" class="main-btn blue-small">Докладніше</a>									
												</div>
											</div>
											<div class="bank">
												<div class="visible flex v--center">
													<img src="assets/images/credit.svg" alt="">
													<div class="num fsz-12 color--gray">10</div>
												</div>
												<div class="hidden">
													<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
													<ol>
														<li>1. Наявність кредитної картки ПриватБанку.</li>
														<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
													</ol>
													<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
													<a href="" class="main-btn blue-small">Докладніше</a>									
												</div>
											</div>
										</div>
										<div class="bottom-row flex h--between v--end">
											<div class="price-wrap ">
												<!-- <s class="fsz-14 color--gray">25 713 ₴</s> -->
												<p class="price fsz-18 fw-600">42 899 ₴</p>
											</div>
											<button class="main-btn blue-small icon-left"><span class="icon"><img src="assets/images/cart-white.svg" alt=""></span>У кошик</button>
										</div>
									</div>
									<div class="hidden-block">
										<div class="info-rows">
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Лінійка</span>
												<p class="fsz-14">Fenix 7X</p>
											</div>
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Форма дисплею</span>
												<p class="fsz-14">Круглі</p>
											</div>
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Для кого</span>
												<p class="fsz-14">Чоловічі</p>
											</div>
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Тип дисплея</span>
												<p class="fsz-14">Кольоровий</p>
											</div>
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Об'єм вбудованої пам'яті</span>
												<p class="fsz-14">16 Гб</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="product-card">
									<div class="before"></div>
									<div class="labels">
										<div class="label super-price">Супер ціна</div>
										<div class="label discount">-15%</div>
									</div>
									<div class="buttons">
										<button class="compare cart-btn">
											<img src="assets/images/compare-gray.svg" alt="" class="visible">
											<img src="assets/images/compare-active.svg" alt="" class="hidden">
										</button>
										<button class="like cart-btn">
											<img src="assets/images/heart-gray.svg" alt="" class="visible">
											<img src="assets/images/heart-active.svg" alt="" class="hidden">
										</button>
									</div>
									<div class="top">
										<div class="image image-1">
											<div class="images">
												<img src="assets/images/p-i1.png" alt="">
											</div>
										</div>
										<div class="image image-2">
											<div class="images">
												<img src="assets/images/p-i2.png" alt="">
											</div>
										</div>
										<div class="image image-3">
											<div class="images">
												<img src="assets/images/p-i3.png" alt="">
											</div>
										</div>
										<div class="image image-4">
											<div class="images">
												<img src="assets/images/p-i4.png" alt="">
											</div>
										</div>
										<!-- <div class="colors flex v--center">
											<span class="color product-card-color current" style="background: #A8B9C9;" data-color="1"></span>
											<span class="color product-card-color" style="background: #1D252B;" data-color="2"></span>
											<span class="color product-card-color" style="background: #E6E0EB;" data-color="3"></span>
											<span class="color product-card-color" style="background: #FC102F;" data-color="4"></span>
											<a href="" class="all-colors">+1</a>
										</div> -->
									</div>
									<div class="bottom">
										<a href="" class="product-name fsz-16 fw-400 color--black">Смартфон Apple iPhone 14 512GB Blue (MPXN3)</a>
										<div class="row flex v--center h--between">
											<div class="left">
												<span class="fsz-12 color--gray">Код товару: 912455</span>
											</div>
											<div class="right">
												<a href="" class="raiting flex v--center">
													<span class="stars flex v--center">
														<img src="assets/images/star-full.svg" alt="">
														<img src="assets/images/star-full.svg" alt="">
														<img src="assets/images/star-full.svg" alt="">
														<img src="assets/images/star-full.svg" alt="">
														<img src="assets/images/star-empty.svg" alt="">
													</span>
													<span class="num color--black fsz-13">129</span>
												</a>
											</div>
										</div>
										<div class="bank-row flex v--center">
											<div class="bank">
												<div class="visible flex v--center">
													<img src="assets/images/mono-black.svg" alt="">
													<div class="num fsz-12 color--gray">3</div>
												</div>
												<div class="hidden">
													<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
													<ol>
														<li>1. Наявність кредитної картки ПриватБанку.</li>
														<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
													</ol>
													<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
													<a href="" class="main-btn blue-small">Докладніше</a>									
												</div>
											</div>
											<div class="bank">
												<div class="visible flex v--center">
													<img src="assets/images/privat.svg" alt="">
													<div class="num fsz-12 color--gray">6</div>
												</div>
												<div class="hidden">
													<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
													<ol>
														<li>1. Наявність кредитної картки ПриватБанку.</li>
														<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
													</ol>
													<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
													<a href="" class="main-btn blue-small">Докладніше</a>									
												</div>
											</div>
											<div class="bank">
												<div class="visible flex v--center">
													<img src="assets/images/credit.svg" alt="">
													<div class="num fsz-12 color--gray">10</div>
												</div>
												<div class="hidden">
													<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
													<ol>
														<li>1. Наявність кредитної картки ПриватБанку.</li>
														<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
													</ol>
													<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
													<a href="" class="main-btn blue-small">Докладніше</a>									
												</div>
											</div>
										</div>
										<div class="bottom-row flex h--between v--end">
											<div class="price-wrap ">
												<!-- <s class="fsz-14 color--gray">25 713 ₴</s> -->
												<p class="price fsz-18 fw-600">42 899 ₴</p>
											</div>
											<button class="main-btn blue-small icon-left"><span class="icon"><img src="assets/images/cart-white.svg" alt=""></span>У кошик</button>
										</div>
									</div>
									<div class="hidden-block">
										<div class="info-rows">
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Лінійка</span>
												<p class="fsz-14">Fenix 7X</p>
											</div>
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Форма дисплею</span>
												<p class="fsz-14">Круглі</p>
											</div>
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Для кого</span>
												<p class="fsz-14">Чоловічі</p>
											</div>
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Тип дисплея</span>
												<p class="fsz-14">Кольоровий</p>
											</div>
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Об'єм вбудованої пам'яті</span>
												<p class="fsz-14">16 Гб</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="product-card">
									<div class="before"></div>
									<div class="labels">
										<div class="label super-price">Супер ціна</div>
										<div class="label discount">-15%</div>
									</div>
									<div class="buttons">
										<button class="compare cart-btn">
											<img src="assets/images/compare-gray.svg" alt="" class="visible">
											<img src="assets/images/compare-active.svg" alt="" class="hidden">
										</button>
										<button class="like cart-btn">
											<img src="assets/images/heart-gray.svg" alt="" class="visible">
											<img src="assets/images/heart-active.svg" alt="" class="hidden">
										</button>
									</div>
									<div class="top">
										<div class="image image-1">
											<div class="images">
												<img src="assets/images/p-i1.png" alt="">
											</div>
										</div>
										<div class="image image-2">
											<div class="images">
												<img src="assets/images/p-i2.png" alt="">
											</div>
										</div>
										<div class="image image-3">
											<div class="images">
												<img src="assets/images/p-i3.png" alt="">
											</div>
										</div>
										<div class="image image-4">
											<div class="images">
												<img src="assets/images/p-i4.png" alt="">
											</div>
										</div>
										<!-- <div class="colors flex v--center">
											<span class="color product-card-color current" style="background: #A8B9C9;" data-color="1"></span>
											<span class="color product-card-color" style="background: #1D252B;" data-color="2"></span>
											<span class="color product-card-color" style="background: #E6E0EB;" data-color="3"></span>
											<span class="color product-card-color" style="background: #FC102F;" data-color="4"></span>
											<a href="" class="all-colors">+1</a>
										</div> -->
									</div>
									<div class="bottom">
										<a href="" class="product-name fsz-16 fw-400 color--black">Смартфон Apple iPhone 14 512GB Blue (MPXN3)</a>
										<div class="row flex v--center h--between">
											<div class="left">
												<span class="fsz-12 color--gray">Код товару: 912455</span>
											</div>
											<div class="right">
												<a href="" class="raiting flex v--center">
													<span class="stars flex v--center">
														<img src="assets/images/star-full.svg" alt="">
														<img src="assets/images/star-full.svg" alt="">
														<img src="assets/images/star-full.svg" alt="">
														<img src="assets/images/star-full.svg" alt="">
														<img src="assets/images/star-empty.svg" alt="">
													</span>
													<span class="num color--black fsz-13">129</span>
												</a>
											</div>
										</div>
										<div class="bank-row flex v--center">
											<div class="bank">
												<div class="visible flex v--center">
													<img src="assets/images/mono-black.svg" alt="">
													<div class="num fsz-12 color--gray">3</div>
												</div>
												<div class="hidden">
													<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
													<ol>
														<li>1. Наявність кредитної картки ПриватБанку.</li>
														<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
													</ol>
													<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
													<a href="" class="main-btn blue-small">Докладніше</a>									
												</div>
											</div>
											<div class="bank">
												<div class="visible flex v--center">
													<img src="assets/images/privat.svg" alt="">
													<div class="num fsz-12 color--gray">6</div>
												</div>
												<div class="hidden">
													<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
													<ol>
														<li>1. Наявність кредитної картки ПриватБанку.</li>
														<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
													</ol>
													<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
													<a href="" class="main-btn blue-small">Докладніше</a>									
												</div>
											</div>
											<div class="bank">
												<div class="visible flex v--center">
													<img src="assets/images/credit.svg" alt="">
													<div class="num fsz-12 color--gray">10</div>
												</div>
												<div class="hidden">
													<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
													<ol>
														<li>1. Наявність кредитної картки ПриватБанку.</li>
														<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
													</ol>
													<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
													<a href="" class="main-btn blue-small">Докладніше</a>									
												</div>
											</div>
										</div>
										<div class="bottom-row flex h--between v--end">
											<div class="price-wrap ">
												<!-- <s class="fsz-14 color--gray">25 713 ₴</s> -->
												<p class="price fsz-18 fw-600">42 899 ₴</p>
											</div>
											<button class="main-btn blue-small icon-left"><span class="icon"><img src="assets/images/cart-white.svg" alt=""></span>У кошик</button>
										</div>
									</div>
									<div class="hidden-block">
										<div class="info-rows">
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Лінійка</span>
												<p class="fsz-14">Fenix 7X</p>
											</div>
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Форма дисплею</span>
												<p class="fsz-14">Круглі</p>
											</div>
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Для кого</span>
												<p class="fsz-14">Чоловічі</p>
											</div>
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Тип дисплея</span>
												<p class="fsz-14">Кольоровий</p>
											</div>
											<div class="info-row flex v--center h--between">
												<span class="fsz-14 color--gray">Об'єм вбудованої пам'яті</span>
												<p class="fsz-14">16 Гб</p>
											</div>
										</div>
									</div>
								</div>
							</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="before"></div>
							<div class="labels">
								<div class="label super-price">Супер ціна</div>
								<div class="label discount">-15%</div>
							</div>
							<div class="buttons">
								<button class="compare cart-btn">
									<img src="assets/images/compare-gray.svg" alt="" class="visible">
									<img src="assets/images/compare-active.svg" alt="" class="hidden">
								</button>
								<button class="like cart-btn">
									<img src="assets/images/heart-gray.svg" alt="" class="visible">
									<img src="assets/images/heart-active.svg" alt="" class="hidden">
								</button>
							</div>
							<div class="top">
								<div class="image image-1">
									<div class="images">
										<img src="assets/images/p-i5.png" alt="">
									</div>
								</div>
								<div class="image image-2">
									<div class="images">
										<img src="assets/images/p-i2.png" alt="">
									</div>
								</div>
								<div class="image image-3">
									<div class="images">
										<img src="assets/images/p-i3.png" alt="">
									</div>
								</div>
								<div class="image image-4">
									<div class="images">
										<img src="assets/images/p-i4.png" alt="">
									</div>
								</div>
								<!-- <div class="colors flex v--center">
									<span class="color product-card-color current" style="background: #A8B9C9;" data-color="1"></span>
									<span class="color product-card-color" style="background: #1D252B;" data-color="2"></span>
									<span class="color product-card-color" style="background: #E6E0EB;" data-color="3"></span>
									<span class="color product-card-color" style="background: #FC102F;" data-color="4"></span>
									<a href="" class="all-colors">+1</a>
								</div> -->
							</div>
							<div class="bottom">
								<a href="" class="product-name fsz-16 fw-400 color--black">Смартфон Apple iPhone 14 512GB Blue (MPXN3)</a>
								<div class="row flex v--center h--between">
									<div class="left">
										<span class="fsz-12 color--gray">Код товару: 912455</span>
									</div>
									<div class="right">
										<a href="" class="raiting flex v--center">
											<span class="stars flex v--center">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-empty.svg" alt="">
											</span>
											<span class="num color--black fsz-13">129</span>
										</a>
									</div>
								</div>
								<div class="bank-row flex v--center">
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/mono-black.svg" alt="">
											<div class="num fsz-12 color--gray">3</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/privat.svg" alt="">
											<div class="num fsz-12 color--gray">6</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/credit.svg" alt="">
											<div class="num fsz-12 color--gray">10</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
								</div>
								<div class="bottom-row flex h--between v--end">
									<div class="price-wrap ">
										<!-- <s class="fsz-14 color--gray">25 713 ₴</s> -->
										<p class="price fsz-18 fw-600">42 899 ₴</p>
									</div>
									<button class="main-btn blue-small icon-left"><span class="icon"><img src="assets/images/cart-white.svg" alt=""></span>У кошик</button>
								</div>
							</div>
							<div class="hidden-block">
								<div class="info-rows">
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Лінійка</span>
										<p class="fsz-14">Fenix 7X</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Форма дисплею</span>
										<p class="fsz-14">Круглі</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Для кого</span>
										<p class="fsz-14">Чоловічі</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Тип дисплея</span>
										<p class="fsz-14">Кольоровий</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Об'єм вбудованої пам'яті</span>
										<p class="fsz-14">16 Гб</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="before"></div>
							<div class="labels">
								<div class="label super-price">Супер ціна</div>
								<div class="label discount">-15%</div>
							</div>
							<div class="buttons">
								<button class="compare cart-btn">
									<img src="assets/images/compare-gray.svg" alt="" class="visible">
									<img src="assets/images/compare-active.svg" alt="" class="hidden">
								</button>
								<button class="like cart-btn">
									<img src="assets/images/heart-gray.svg" alt="" class="visible">
									<img src="assets/images/heart-active.svg" alt="" class="hidden">
								</button>
							</div>
							<div class="top">
								<div class="image image-1">
									<div class="images">
										<img src="assets/images/p-i1.png" alt="">
									</div>
								</div>
								<div class="image image-2">
									<div class="images">
										<img src="assets/images/p-i2.png" alt="">
									</div>
								</div>
								<div class="image image-3">
									<div class="images">
										<img src="assets/images/p-i3.png" alt="">
									</div>
								</div>
								<div class="image image-4">
									<div class="images">
										<img src="assets/images/p-i4.png" alt="">
									</div>
								</div>
								<div class="colors flex v--center">
									<span class="color product-card-color current" style="background: #A8B9C9;" data-color="1"></span>
									<span class="color product-card-color" style="background: #1D252B;" data-color="2"></span>
									<span class="color product-card-color" style="background: #E6E0EB;" data-color="3"></span>
									<span class="color product-card-color" style="background: #FC102F;" data-color="4"></span>
									<a href="" class="all-colors">+1</a>
								</div>
							</div>
							<div class="bottom">
								<a href="" class="product-name fsz-16 fw-400 color--black">Смартфон Apple iPhone 14 512GB Blue (MPXN3)</a>
								<div class="row flex v--center h--between">
									<div class="left">
										<span class="fsz-12 color--gray">Код товару: 912455</span>
									</div>
									<div class="right">
										<a href="" class="raiting flex v--center">
											<span class="stars flex v--center">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-empty.svg" alt="">
											</span>
											<span class="num color--black fsz-13">129</span>
										</a>
									</div>
								</div>
								<div class="bank-row flex v--center">
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/mono-black.svg" alt="">
											<div class="num fsz-12 color--gray">3</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/privat.svg" alt="">
											<div class="num fsz-12 color--gray">6</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/credit.svg" alt="">
											<div class="num fsz-12 color--gray">10</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
								</div>
								<div class="bottom-row flex h--between v--end">
									<div class="price-wrap sale">
										<s class="fsz-14 color--gray">25 713 ₴</s>
										<p class="price fsz-18 fw-600">42 899 ₴</p>
									</div>
									<button class="main-btn blue-small icon-left"><span class="icon"><img src="assets/images/cart-white.svg" alt=""></span>У кошик</button>
								</div>
							</div>
							<div class="hidden-block">
								<div class="info-rows">
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Лінійка</span>
										<p class="fsz-14">Fenix 7X</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Форма дисплею</span>
										<p class="fsz-14">Круглі</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Для кого</span>
										<p class="fsz-14">Чоловічі</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Тип дисплея</span>
										<p class="fsz-14">Кольоровий</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Об'єм вбудованої пам'яті</span>
										<p class="fsz-14">16 Гб</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="before"></div>
							<div class="labels">
								<div class="label super-price">Супер ціна</div>
								<div class="label discount">-15%</div>
							</div>
							<div class="buttons">
								<button class="compare cart-btn">
									<img src="assets/images/compare-gray.svg" alt="" class="visible">
									<img src="assets/images/compare-active.svg" alt="" class="hidden">
								</button>
								<button class="like cart-btn">
									<img src="assets/images/heart-gray.svg" alt="" class="visible">
									<img src="assets/images/heart-active.svg" alt="" class="hidden">
								</button>
							</div>
							<div class="top">
								<div class="image image-1">
									<div class="images">
										<img src="assets/images/p-i1.png" alt="">
									</div>
								</div>
								<div class="image image-2">
									<div class="images">
										<img src="assets/images/p-i2.png" alt="">
									</div>
								</div>
								<div class="image image-3">
									<div class="images">
										<img src="assets/images/p-i3.png" alt="">
									</div>
								</div>
								<div class="image image-4">
									<div class="images">
										<img src="assets/images/p-i4.png" alt="">
									</div>
								</div>
								<div class="colors flex v--center">
									<span class="color product-card-color current" style="background: #A8B9C9;" data-color="1"></span>
									<span class="color product-card-color" style="background: #1D252B;" data-color="2"></span>
									<span class="color product-card-color" style="background: #E6E0EB;" data-color="3"></span>
									<span class="color product-card-color" style="background: #FC102F;" data-color="4"></span>
									<a href="" class="all-colors">+1</a>
								</div>
							</div>
							<div class="bottom">
								<a href="" class="product-name fsz-16 fw-400 color--black">Смартфон Apple iPhone 14 512GB Blue (MPXN3)</a>
								<div class="row flex v--center h--between">
									<div class="left">
										<span class="fsz-12 color--gray">Код товару: 912455</span>
									</div>
									<div class="right">
										<a href="" class="raiting flex v--center">
											<span class="stars flex v--center">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-empty.svg" alt="">
											</span>
											<span class="num color--black fsz-13">129</span>
										</a>
									</div>
								</div>
								<div class="bank-row flex v--center">
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/mono-black.svg" alt="">
											<div class="num fsz-12 color--gray">3</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/privat.svg" alt="">
											<div class="num fsz-12 color--gray">6</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/credit.svg" alt="">
											<div class="num fsz-12 color--gray">10</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
								</div>
								<div class="bottom-row flex h--between v--end">
									<div class="price-wrap sale">
										<s class="fsz-14 color--gray">25 713 ₴</s>
										<p class="price fsz-18 fw-600">42 899 ₴</p>
									</div>
									<button class="main-btn blue-small icon-left"><span class="icon"><img src="assets/images/cart-white.svg" alt=""></span>У кошик</button>
								</div>
							</div>
							<div class="hidden-block">
								<div class="info-rows">
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Лінійка</span>
										<p class="fsz-14">Fenix 7X</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Форма дисплею</span>
										<p class="fsz-14">Круглі</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Для кого</span>
										<p class="fsz-14">Чоловічі</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Тип дисплея</span>
										<p class="fsz-14">Кольоровий</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Об'єм вбудованої пам'яті</span>
										<p class="fsz-14">16 Гб</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="before"></div>
							<div class="labels">
								<div class="label super-price">Супер ціна</div>
								<div class="label discount">-15%</div>
							</div>
							<div class="buttons">
								<button class="compare cart-btn">
									<img src="assets/images/compare-gray.svg" alt="" class="visible">
									<img src="assets/images/compare-active.svg" alt="" class="hidden">
								</button>
								<button class="like cart-btn">
									<img src="assets/images/heart-gray.svg" alt="" class="visible">
									<img src="assets/images/heart-active.svg" alt="" class="hidden">
								</button>
							</div>
							<div class="top">
								<div class="image image-1">
									<div class="images">
										<img src="assets/images/p-i1.png" alt="">
									</div>
								</div>
								<div class="image image-2">
									<div class="images">
										<img src="assets/images/p-i2.png" alt="">
									</div>
								</div>
								<div class="image image-3">
									<div class="images">
										<img src="assets/images/p-i3.png" alt="">
									</div>
								</div>
								<div class="image image-4">
									<div class="images">
										<img src="assets/images/p-i4.png" alt="">
									</div>
								</div>
								<div class="colors flex v--center">
									<span class="color product-card-color current" style="background: #A8B9C9;" data-color="1"></span>
									<span class="color product-card-color" style="background: #1D252B;" data-color="2"></span>
									<span class="color product-card-color" style="background: #E6E0EB;" data-color="3"></span>
									<span class="color product-card-color" style="background: #FC102F;" data-color="4"></span>
									<a href="" class="all-colors">+1</a>
								</div>
							</div>
							<div class="bottom">
								<a href="" class="product-name fsz-16 fw-400 color--black">Смартфон Apple iPhone 14 512GB Blue (MPXN3)</a>
								<div class="row flex v--center h--between">
									<div class="left">
										<span class="fsz-12 color--gray">Код товару: 912455</span>
									</div>
									<div class="right">
										<a href="" class="raiting flex v--center">
											<span class="stars flex v--center">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-empty.svg" alt="">
											</span>
											<span class="num color--black fsz-13">129</span>
										</a>
									</div>
								</div>
								<div class="bank-row flex v--center">
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/mono-black.svg" alt="">
											<div class="num fsz-12 color--gray">3</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/privat.svg" alt="">
											<div class="num fsz-12 color--gray">6</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/credit.svg" alt="">
											<div class="num fsz-12 color--gray">10</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
								</div>
								<div class="bottom-row flex h--between v--end">
									<div class="price-wrap sale">
										<s class="fsz-14 color--gray">25 713 ₴</s>
										<p class="price fsz-18 fw-600">42 899 ₴</p>
									</div>
									<button class="main-btn blue-small icon-left"><span class="icon"><img src="assets/images/cart-white.svg" alt=""></span>У кошик</button>
								</div>
							</div>
							<div class="hidden-block">
								<div class="info-rows">
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Лінійка</span>
										<p class="fsz-14">Fenix 7X</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Форма дисплею</span>
										<p class="fsz-14">Круглі</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Для кого</span>
										<p class="fsz-14">Чоловічі</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Тип дисплея</span>
										<p class="fsz-14">Кольоровий</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Об'єм вбудованої пам'яті</span>
										<p class="fsz-14">16 Гб</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="before"></div>
							<div class="labels">
								<div class="label super-price">Супер ціна</div>
								<div class="label discount">-15%</div>
							</div>
							<div class="buttons">
								<button class="compare cart-btn">
									<img src="assets/images/compare-gray.svg" alt="" class="visible">
									<img src="assets/images/compare-active.svg" alt="" class="hidden">
								</button>
								<button class="like cart-btn">
									<img src="assets/images/heart-gray.svg" alt="" class="visible">
									<img src="assets/images/heart-active.svg" alt="" class="hidden">
								</button>
							</div>
							<div class="top">
								<div class="image image-1">
									<div class="images">
										<img src="assets/images/p-i1.png" alt="">
									</div>
								</div>
								<div class="image image-2">
									<div class="images">
										<img src="assets/images/p-i2.png" alt="">
									</div>
								</div>
								<div class="image image-3">
									<div class="images">
										<img src="assets/images/p-i3.png" alt="">
									</div>
								</div>
								<div class="image image-4">
									<div class="images">
										<img src="assets/images/p-i4.png" alt="">
									</div>
								</div>
								<div class="colors flex v--center">
									<span class="color product-card-color current" style="background: #A8B9C9;" data-color="1"></span>
									<span class="color product-card-color" style="background: #1D252B;" data-color="2"></span>
									<span class="color product-card-color" style="background: #E6E0EB;" data-color="3"></span>
									<span class="color product-card-color" style="background: #FC102F;" data-color="4"></span>
									<a href="" class="all-colors">+1</a>
								</div>
							</div>
							<div class="bottom">
								<a href="" class="product-name fsz-16 fw-400 color--black">Смартфон Apple iPhone 14 512GB Blue (MPXN3)</a>
								<div class="row flex v--center h--between">
									<div class="left">
										<span class="fsz-12 color--gray">Код товару: 912455</span>
									</div>
									<div class="right">
										<a href="" class="raiting flex v--center">
											<span class="stars flex v--center">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-empty.svg" alt="">
											</span>
											<span class="num color--black fsz-13">129</span>
										</a>
									</div>
								</div>
								<div class="bank-row flex v--center">
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/mono-black.svg" alt="">
											<div class="num fsz-12 color--gray">3</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/privat.svg" alt="">
											<div class="num fsz-12 color--gray">6</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/credit.svg" alt="">
											<div class="num fsz-12 color--gray">10</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
								</div>
								<div class="bottom-row flex h--between v--end">
									<div class="price-wrap sale">
										<s class="fsz-14 color--gray">25 713 ₴</s>
										<p class="price fsz-18 fw-600">42 899 ₴</p>
									</div>
									<button class="main-btn blue-small icon-left"><span class="icon"><img src="assets/images/cart-white.svg" alt=""></span>У кошик</button>
								</div>
							</div>
							<div class="hidden-block">
								<div class="info-rows">
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Лінійка</span>
										<p class="fsz-14">Fenix 7X</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Форма дисплею</span>
										<p class="fsz-14">Круглі</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Для кого</span>
										<p class="fsz-14">Чоловічі</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Тип дисплея</span>
										<p class="fsz-14">Кольоровий</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Об'єм вбудованої пам'яті</span>
										<p class="fsz-14">16 Гб</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="before"></div>
							<div class="labels">
								<div class="label super-price">Супер ціна</div>
								<div class="label discount">-15%</div>
							</div>
							<div class="buttons">
								<button class="compare cart-btn">
									<img src="assets/images/compare-gray.svg" alt="" class="visible">
									<img src="assets/images/compare-active.svg" alt="" class="hidden">
								</button>
								<button class="like cart-btn">
									<img src="assets/images/heart-gray.svg" alt="" class="visible">
									<img src="assets/images/heart-active.svg" alt="" class="hidden">
								</button>
							</div>
							<div class="top">
								<div class="image image-1">
									<div class="images">
										<img src="assets/images/p-i1.png" alt="">
									</div>
								</div>
								<div class="image image-2">
									<div class="images">
										<img src="assets/images/p-i2.png" alt="">
									</div>
								</div>
								<div class="image image-3">
									<div class="images">
										<img src="assets/images/p-i3.png" alt="">
									</div>
								</div>
								<div class="image image-4">
									<div class="images">
										<img src="assets/images/p-i4.png" alt="">
									</div>
								</div>
								<div class="colors flex v--center">
									<span class="color product-card-color current" style="background: #A8B9C9;" data-color="1"></span>
									<span class="color product-card-color" style="background: #1D252B;" data-color="2"></span>
									<span class="color product-card-color" style="background: #E6E0EB;" data-color="3"></span>
									<span class="color product-card-color" style="background: #FC102F;" data-color="4"></span>
									<a href="" class="all-colors">+1</a>
								</div>
							</div>
							<div class="bottom">
								<a href="" class="product-name fsz-16 fw-400 color--black">Смартфон Apple iPhone 14 512GB Blue (MPXN3)</a>
								<div class="row flex v--center h--between">
									<div class="left">
										<span class="fsz-12 color--gray">Код товару: 912455</span>
									</div>
									<div class="right">
										<a href="" class="raiting flex v--center">
											<span class="stars flex v--center">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-full.svg" alt="">
												<img src="assets/images/star-empty.svg" alt="">
											</span>
											<span class="num color--black fsz-13">129</span>
										</a>
									</div>
								</div>
								<div class="bank-row flex v--center">
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/mono-black.svg" alt="">
											<div class="num fsz-12 color--gray">3</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/privat.svg" alt="">
											<div class="num fsz-12 color--gray">6</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
									<div class="bank">
										<div class="visible flex v--center">
											<img src="assets/images/credit.svg" alt="">
											<div class="num fsz-12 color--gray">10</div>
										</div>
										<div class="hidden">
											<p class="fsz-14 fw600">Оплата частинами від ПриватБанку на 4 платежі</p>
											<ol>
												<li>1. Наявність кредитної картки ПриватБанку.</li>
												<li>2. Доступний ліміт за сервісом "Оплата частинами".</li>
											</ol>
											<span class="fsz-12">Перший платіж буде списано з кредитної картки. Перший платіж +14 наступних. Не сумісно з подарунками, підвищеними бонусами та акцією 2 в 1.</span>
											<a href="" class="main-btn blue-small">Докладніше</a>									
										</div>
									</div>
								</div>
								<div class="bottom-row flex h--between v--end">
									<div class="price-wrap sale">
										<s class="fsz-14 color--gray">25 713 ₴</s>
										<p class="price fsz-18 fw-600">42 899 ₴</p>
									</div>
									<button class="main-btn blue-small icon-left"><span class="icon"><img src="assets/images/cart-white.svg" alt=""></span>У кошик</button>
								</div>
							</div>
							<div class="hidden-block">
								<div class="info-rows">
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Лінійка</span>
										<p class="fsz-14">Fenix 7X</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Форма дисплею</span>
										<p class="fsz-14">Круглі</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Для кого</span>
										<p class="fsz-14">Чоловічі</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Тип дисплея</span>
										<p class="fsz-14">Кольоровий</p>
									</div>
									<div class="info-row flex v--center h--between">
										<span class="fsz-14 color--gray">Об'єм вбудованої пам'яті</span>
										<p class="fsz-14">16 Гб</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination custom-pagiation"></div>
			</div>
			<div class="custom-swiper-btn custom-swiper-btn-prev best-product-swiper-btn-prev">
				<img src="assets/images/arrow-blue-left.svg" alt="">
			</div>
			<div class="custom-swiper-btn custom-swiper-btn-next best-product-swiper-btn-next">
				<img src="assets/images/arrow-blue-right-1.svg" alt="">
			</div>
		</div>