<div class="subscription">
	<div class="container">
		<div class="subscription__wrap flex v--center">
			<div class="left">
				<h2 class="fsz-24 fw-600 heading">Підписатись на новини</h2>
				<p>Дізнавайся про на акції, розпродажі та новини першим!</p>
			</div>
			<div class="right">
				<form action="" autocomplete="off">
					<div class="input-row relative">
						<input type="email" placeholder="Ваш e-mail">
						<div class="input-placeholder-clear"><img src="assets/images/closer.svg" alt=""></div>
					</div>
					<button class="main-btn blue-big">Підписатися</button>
				</form>
			</div>
		</div>
	</div>
</div>