
.choices__list--dropdown .choices__placeholder {
    display: none;
}

.choices__inner, .select-choices {
    background: #fff;
    border: none;
    border: 1px solid rgba(95, 39, 109, .18);
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 44px;
    padding: 14px 40px 14px 20px;
    position: relative;
    width: 100%;
    font-size: initial;
}

.choices__list--single {
    padding: 0;
    display: block;
    padding: 4px 16px 4px 0px;
    width: 100%;
    position: relative;
}

.choices__list--single .choices__item {
    width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 14px;
}

.choices[data-type*=select-one].is-open .choices__inner {
    height: 44px;
}

.select-choices {
    padding: 7px 40px 10px 15px;
    -webkit-appearance: none;
    background: url(/assets/images/arrow-s.svg) no-repeat 98.1% center;
}

@media (max-width: 992px) {
    .select-choices {
        font-size: 14px;
    }

    .choices__list--single {
        padding-top: 5px;
    }
}

.choices__placeholder {
    opacity: 1;
    color: #606272 !important;
}

.choices[data-type*=select-one] .choices__input {
    padding: 11px 10px 13px 10px;
    /*border-bottom: 1px solid #f5f4f4;*/
    /*border:none;*/
    border: 1px solid #d2d7e57a;
    height: 40px;
    margin: 4px;
    width: -webkit-fill-available;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
    /*border: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 8px 0 #c3bfdd;*/
    border: 1px solid #d2d7e5;
    border-radius: 4px;
    background: #ffffff;
    padding: 0 0 8px 0;
}

.choices__inner {
    font-size: 16px !important;
    padding: 7px 15px 10px !important;
    /*color: #606272 !important;*/
    background-color: #fff !important;
    border: 1px solid #d2d7e5;
    border-radius: 4px !important;
}

@media (max-width: 992px) {
    .choices__inner * {
        font-size: 14px !important;
    }
}

.is-focused .choices__inner, .is-open .choices__inner {
    border-radius: 4px;
    /*border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 8px 0 #c3bfdd;*/
    border: 1px solid #2264dc;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    /*padding:6px 10px;*/ /*паддинги у отдельного элемента списка*/
    padding: /*4px 8px*/ 3px 12px 6px 12px;
    transition: .3s;
    color: #0A0527;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 4px;
    white-space: break-spaces;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    color: #588AE5;
    background: #EFF7FF;
}

.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
    /*padding:10px;*/ /*отступы внутренние у контейнера со списком */
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background: #f6f3fb;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
    margin-top: 0;
}

.choices[data-type*=select-one]::after {
    content: "";
    height: 24px !important;
    width: 24px !important;
    display: block;
    right: 10px !important;
    top: 29% !important;
    background: url('/assets/images/arrow-s.svg') no-repeat top left;
    transition: .3s;
    border: 0 none !important;
    z-index: 1;
}

.choices[data-type*=select-one].is-open::after {
    margin-top: -2px !important;
    transform: rotate(-180deg);
    transition: .3s;
}

.select-searchable .placeholder {
    background: #ffffff;
    border: 1px solid #d2d7e5;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    padding: 9px 15px 8px;
    transition: .3s;
    width: 100%;
    display: flex;
}

.select-searchable .placeholder .spinner {
    position: relative;
    border: 4px solid hsl(218.71deg 73.23% 49.8% / 18%);
    border-top-color: #2264dc;
}