.blog-section{
    padding: 80px 0;
    @media(max-width: 1080px){
        padding: 60px 0 100px;
        position: relative;
        .custom-btn{
            position: absolute;
            left: 50%;
            bottom: -40px;
            transform: translateX(-50%);
        }
        .heading{
            font-size: 20px;
        }
    }
    &__wrap{
        margin-top: 24px;
        .swiper{
            @media(max-width: 1080px){
                padding-bottom: 40px;
                .swiper-pagination{
                    bottom: 0px;
                    top: auto;
                    .swiper-pagination-bullet{
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        border: 1px solid $gray-100;
                        background: transparent;
                        opacity: 1;
                        transition: .3s;
                        &.swiper-pagination-bullet-active{
                            background: $gray-100;
                        }
                    }
                }
            }
        }
        .news{
            // width: calc(25% - 12px);
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            &:hover{
                .news-name{
                    color: $blue-100;
                }
                .image{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
            .news-name{
                transition: .3s;
                display: block;
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: .3s;
                line-height: 140%;
                max-height: 3rem;
            }
            .image{
                height: 200px;
                border-radius: 8px;
                overflow: hidden;
                display: flex;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .3s;
                }
            }
        }
    }
}
