// @import './helpers/vars';
.baner{
	padding: 7px 0;
	background-repeat: no-repeat;
	background-size: cover;
	@media(max-width: 992px){
		display: none;
	}
	.closer{
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		height: 24px;
		right: 20px;
		transition: .3s;
		cursor: pointer;
		&:hover{
			opacity: .7;
		}
	}
}
// .header-mobile-menu{
// 	width: 320px;
// 	height: 100dvh;
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	z-index: 20;
// 	background: $white;
// 	&:after{
// 		content: '';
// 		display: block;
// 		position: fixed;
// 		width: 100vw;
// 		height: 100dvh;
// 		left: 0;
// 		top: 0;
// 		z-index: 9;
// 		background: rgba(24, 43, 83, .4);
// 	}
// }
body{
	padding-top: 173.5px;
	@media(max-width: 1180px){
			padding-top: 168.5px;
		}
		@media(max-width: 1080px){
			padding-top: 161.5px;
		}
		@media(max-width: 992px){
			padding-top: 128px;
		}
		@media(max-width: 850px){
			padding-top: 116px;
		}
}
.header{
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
	background: $white;
	position: fixed;
	z-index: 11;
	left: 0;
	top: 0;
	width: 100%;
	transition: .3s;
	&:has(.baner){
		&.fixed{
			top: -101.5px;
			// @media(max-width: 1180px){
			// 	top: -90.5px;
			// }
			@media(max-width: 992px){
				top: -56px;
			}
			@media(max-width: 850px){
				top: 0;
			}
		}
	}
	&.fixed{
		top: -68px;
		// @media(max-width: 1180px){
		// 	top: -60px;
		// }
		@media(max-width: 992px){
			top: -56px;
		}
		@media(max-width: 850px){
			top: 0;
		}
	}
	&.scrolled{
		.header-bottom-row{
			height: 0;
			padding: 0!important;
			.search{
				width: 450px;
				@media(max-width: 650px){
					width: 400px;
				}
				@media(max-width: 600px){
					width: 203px;
				}
				transform: translate(199px, -29px);
				@media(max-width: 768px){
					transform: translate(48px, -29px);
				}
				.clicable-zone{
					width: 100vw;
					left: -214px;
					@media(max-width: 768px){
						left: -62px;
					}
				}
				.hidden{
					width: 100vw;
					left: -214px;
					@media(max-width: 768px){
						left: -58px;
					}	
				}
			}
		}
		.header-mobile-row{
			.logo{
				@media(max-width: 768px){
					display: none;
				}
			}
		}
	}
	.get-catalog-button-wrapper{
		position: relative;
		@media(max-width: 850px){
			display: none;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: 10px;
		}
	}
	.sale{
		transition: .3s;
		&:hover{
			opacity: .7;
		}
	}
	&.checkout-header{
		&.fixed{
			top: 0;
		}
		.tel-info{
			&.mobile{
				display: none;
			}
		}
	}
	@media(max-width: 1080px){
		&.checkout-header{
			.top-header-row{
				display: flex;
			}
			.tel-info{
				display: block;
			}
		}
	}
	@media(max-width: 992px){
		&.checkout-header{
			.logo{
				height: 24px;
				width: 120px;
			}
			.tel-info{
				display: none;
				&.mobile{
					display: block;
				}
			}
		}
	}
	.top-header-row{
		border-bottom: 1px solid $gray-200;
		@media(max-width: 1080px){
			display: none;
		}
	}
	.tel-info{
		@media(max-width: 1150px){
			a{
				font-size: 14px;
			}
		}
		&.mobile{
			display: none;
			.tel-sub-menu{
				right: 0;
				transform: translateX(0);
				left: auto;
				top: 100%!important;
			}
			@media(max-width: 992px){
				display: block;
			}
		}
		@media(max-width: 1080px){
			display: none;
		}
			.tel{
				cursor: pointer;
				@media(max-width: 1250px){
					font-size: 14px;
				}
				svg{
					margin-left: 5px;
				}
				&:hover .tel-sub-menu{
					visibility: visible;
					opacity: 1;
				}
			}
			.tel-sub-menu{
				padding: 16px;
				min-width: 185px;
				left: 50%;
				transform: translateX(-50%);
				top: -10px;
				background: $white;
				border-radius: 4px;
				box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
				border: 1px solid $gray-200;
				z-index: 11;
				row-gap: 16px;
				visibility: hidden;
				opacity: 0;
				transition: 0.3s;
				@media(max-width: 1080px){
					top: 100%;
					right: 0;
					left: auto;
					transform: translateX(0);
				}
				.tel{
					white-space: nowrap;
					display: block;
					transition: .3s;
					&:hover{
						color: $blue-100;
					}
				}
				.tels{
					display: flex;
					flex-direction: column;
					row-gap: 16px;
				}
				.socs-wrap{
					margin-top: 8px;
					column-gap: 16px;
					.socs{
						width: 24px;
						transition: .3s;
						&:hover{
							opacity: .7;
						}
						img{
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}
				}
			}
		}
	.logo{
		height: 35px;
		object-fit: contain;
		transition: .3s;
		width: 180px;
		@media(max-width: 1150px){
			height: 30px;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.nav-menu{
		margin-left: 40px;
		column-gap: 24px;
		@media(max-width: 1280px){
			column-gap: 15px;
			margin-left: 25px;
		}
		@media(max-width: 1180px){
			column-gap: 10px;
			margin-left: 15px;
		}
		@media(max-width: 1150px){
			font-size: 12px;
		}
		a{
			color: $black;
			transition: .3s;
			&:hover{
				color: $blue-100;
			}
		}
	}
	.lang-menu{
		margin-left: auto;
		column-gap: 20px;
		&:after{
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 1px;
			height: 20px;
			top: 50%;
			background: $gray-100;
			opacity: .4;
		}
		a{
			color: $black-100;
			font-weight: 400;
			transition: .3s;
			&:hover{
				color: $blue-100;
			}
			&.current{
				font-weight: 600;
				color: $black;
			}
		}
	}
	.header-bottom-row{
		column-gap: 40px;
		transition: .3s;
		@media(max-width: 1180px){
			column-gap: 20px;
		}
		@media(max-width: 1080px){
			padding-left: 0;
			padding-right: 0;
			width: calc(100% + 10px);
			margin-left: -5px;
		}
		.get-catalog{
			@media(max-width: 1080px){
				display: none;
			}
		}
		.sale{
			@media(max-width: 660px){
				display: none;
			}
			img{
				width: 24px;
				height: 24px;
				object-fit: contain;
				margin-right: 8px;
			}
		}
		.search{
			position: relative;
			transition: .3s;
			.closer{
				position: absolute;
				width: 24px;
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: .3s;
				right: 16px;
				top: 50%;
				transform: translateY(-50%);
				visibility: visible;
				opacity: 0;
				&:hover{
					opacity: 0;
				}
				img{
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			@media(max-width: 1080px){
				margin-left: 40px;
				width: calc(100% - 100px);
			}
			@media(max-width: 850px){
				width: 100%;
				margin-left: 0;
			}
			.clicable-zone{
				position: fixed;
				z-index: 6;
				background: rgba(24, 43, 83, .6);
				width: 100vw;
				height: calc(100vh - 173.5px);
				top: 173.5px;
				left: 0;
				&.top{
						top: 72px;
						height: calc(100vh - 72px);
					}
				@media(max-width: 1180px){
					height: calc(100vh - 163.5px);
					top: 163.5px;
				}
				@media(max-width: 992px){
					height: calc(100vh - 128px);
					top: 128px;
				}
				@media(max-width: 850px){
					height: calc(100vh - 116px);
					top: 116px;
				}
			}
			.hidden{
				visibility: hidden;
				opacity: 0;
				position: absolute;
				left: -24px;
				top: calc(100% + 8px);
				z-index: 5;
				width: 678px;
				transition: .3s;
				@media(max-width: 1180px){
					top: 100%;
				}
				@media(max-width: 1080px){
					left: auto;
					right: 0;
				}
				// @media(max-width: 850px){
				// 	width: 100%;
				// }
				@media(max-width: 850px){
					overflow: auto;
					height: calc(100dvh - 116px);
					border-radius: 0 0 4px 4px;
					width: calc(100% + 24px);
					right: 0;
					left: -12px;
					top: calc(100% + 6px);
				}
				.search-result-wrap{
					position: relative;
					z-index: 7;
					border-radius: 0 0 8px 8px;
					background: $white;
					padding: 24px 12px;
					width: 100%;
					@media(max-width: 768px){
						flex-direction: column;
						row-gap: 16px;
						overflow: auto;
					}
					.left{
						width: calc(100% - 340px);
						display: flex;
						flex-direction: column;
						row-gap: 24px;
						border-right: 1px solid $gray-100;
						@media(max-width: 768px){
							width: 100%;
							border-right: none;
						}
						.row{
							row-gap: 16px;
							&:last-of-type{
								ul{
									row-gap: 0;
									padding-right: 12px;
									@media(max-width: 768px){
										padding-right: 0;
									}
									li{
										a{
											padding: 12px;
											border-radius: 4px;
											position: relative;
											@media(max-width: 768px){
												padding: 12px 0;
												}
											.arrow{
												display: flex;
												align-items: center;
												justify-content: center;
												width: 12px;
												height: 12px;
												position: absolute;
												right: 12px;
												top: 50%;
												transform: translateY(-50%);
												@media(max-width: 768px){
													right: 0;
												}
												img{
													width: 100%;
													height: 100%;
													object-fit: contain;
												}
											}
											&:hover{
												background: #EFF7FF;
											}
										}
									}
								}
							}
							ul{
								row-gap: 16px;
								li{
									position: relative;
									&:hover{
										.delete{
											opacity: 1;
										}
									}
									.delete{
										position: absolute;
										right: 12px;
										top: 50%;
										transition: .3s;
										display: flex;
										align-items: center;
										justify-content: center;
										width: 12px;
										height: 12px;
										cursor: pointer;
										opacity: 0;
										transform: translateY(-50%);
										@media(max-width: 850px){
											opacity: 1;
										}
										@media(max-width: 768px){
											right: 0;
										}
										img{
											width: 12px;
											height: 12px;
											object-fit: contain;
										}
									}
									a{
										color: $black;
										transition: .3s;
										column-gap: 12px;
										&.apple{
											&:hover{
												.icon{
													svg{
														path{
															fill: transparent;
															stroke: $blue-100;
														}
													}
												}
											}
										}
										.icon{
											display: flex;
											align-items: center;
											justify-content: center;
											width: 24px;
											height: 24px;
											svg{
												width: 100%;
												height: 100%;
												object-fit: contain;
												path{
													transition: .3s;
												}
											}
										}
										&:hover{
											color: $blue-100;
											.icon{
												svg{
													path{
														fill: $blue-100;
													}
												}
											}
										}
									}
								}
							}
						}
					}
					.right{
						width: 340px;
						padding-left: 24px;
						margin-left: auto;
						@media(max-width: 768px){
							width: 100%;
							margin-left: 0;
							padding-left: 0;
						}
					}
					.products{
						row-gap: 8px;
						margin-top: 16px;
						align-items: stretch;
						padding-right: 24px;
						li{
							&:not(:last-of-type){
								.product{
									padding-bottom: 8px;
									border-bottom: 1px solid #F0F1F3;
								}
							}
						}
						.product{
							transition: .3s;
							&:hover{
								.name{
									color: $blue-100;
								}
								.img{
									opacity: .7;
								}
							}
							.img{
								width: 80px;
								height: 80px;
								display: flex;
								align-items: center;
								justify-content: center;
								transition: .3s;
								img{
									width: 60px;
									height: 60px;
									object-fit: contain;
								}
							}
							.name{
								transition: .3s;
							}
							.info{
								margin-left: auto;
								width: calc(100% - 92px);
								display: flex;
								flex-direction: column;
								padding-top: 10px;
								padding-bottom: 10px;
								.price{
									margin-top: auto;
								}
							}
						}
					}
				}
			}
		}
		.search-form{
			.visible{
				height: 56px;
				width: 539px;
				background: #EFF7FF;
				border: 1px solid #DCEDFD;
				border-radius: 4px;
				@media(max-width: 1080px){
					width: 100%;
				}
				@media(max-width: 850px){
					width: 100%;
					height: 44px;
					margin-left: 0;
				}
				@media(max-width: 1250px){
					width: 390px;
				}
				button{
					background: transparent;
					display: flex;
					align-items: center;
					padding: 0 19px;
					position: relative;
					@media(max-width: 992px){
						padding: 0 12px;
					}
					&:after{
						content: '';
						display: block;
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 1px;
						height: 36px;
						background: #C0E1FD;
					}
					img{
						height: 22px;
						object-fit: contain;
					}
				}
				input{
					width: calc(100% - 57px);
					background: transparent;
					border: none;
					padding: 0 16px;
					&:focus{
						&~.hidden{
							visibility: visible;
							opacity: 1;
						}
					}
					&:not(:placeholder-shown){
						&~.closer{
							visibility: visible;
							opacity: 1;
							&:hover{
								opacity: .5;
							}
						}
					}
					@media(max-width: 1080px){
						width: calc(100% - 42px);
					}
					&::placeholder{
						color: $gray;
					}
				}
				@media(max-width: 1400px){
					width: 418px;
				}
				@media(max-width: 1260px){
					width: 390px;
				}
				@media(max-width: 1080px){
					width: 100%;
				}
				@media(max-width: 850px){
					width: 100%;
				}
			}
		}
		
		.login{
			cursor: pointer;
			margin-left: auto;
			color: #0a0527;
			@media(max-width: 1080px){
				display: none;
			}
			svg{
				margin-right: 8px;
				path{
					transition: .3s;
				}
			}
			transition: .3s;
			&:hover{
				color: $blue-100;
				svg{
					path{
						fill: $blue-100;
					}
				}
			}
		}
		.buttons-block{
			column-gap: 20px;
			@media(max-width: 1180px){
				column-gap: 10px;
			}
			@media(max-width: 1080px){
				display: none;
			}
			.header-button{
				cursor: pointer;
				background: none;
				&:hover{
					.icon{
						svg{
							path{
								fill: $blue-100;
								stroke: $blue-100;
							}
							circle{
								stroke: $blue-100;
							}
						}
					}
					.sum{
						color: $blue-100;
					}
				}
				.icon{
					width: 24px;
					height: 24px;
					svg{
						width: 100%;
						height: 100%;
						object-fit: contain;
						transition: .3s;
						path{
							transition: .1s;
						}
						circle{
							transition: .1s;
						}
					}
				}
				.label{
					border-radius: 10px;
					background: $red;
					color: $white;
					padding: 1px 5px;
					height: 15px;
					right: -6px;
					top: -5px;
					z-index: 1;
				}
				.sum{
					margin-left: 10px;
					color: $black;
					transition: .3s;
					@media(max-width: 1250px){
						display: none;
					}
				}
			}
		}
	}
	.header-mobile-row{
		display: none;

		@media(max-width: 1080px){
			display: flex;
			padding: 16px 15px;
			position: relative;
			align-items: center;
			&:before{
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: #F0F1F3;
			}
			.tel-info{
				display: block;
				margin-left: auto;
				margin-right: 36px;
			}
			.logo{
				width: 120px;
				height: 24px;
				img{
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			.gam{
				position: relative;
				display: flex;
				align-items: center;
				width: 24px;
				height: 18px;
				cursor: pointer;
				z-index: 5;
				margin-right: 32px;
				&.active{
					span{
						opacity: 0;
					}
					&:before{
						top: 50%;
						transform: translateY(-50%) rotate(45deg);
						background: $black;
					}
					&:after{
						bottom: 50%;
						transform: translateY(50%) rotate(-45deg);
						background: $black;
					}
				}
				&:before{
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					height: 2px;
					background: $black;
					top: 0;
					left: 0;
					transition: 0.3s;
				}
				&:after{
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					height: 2px;
					background: $black;
					bottom: 0;
					left: 0;
					transition: 0.3s;
				}
				span{
					display: block;
					width: 24px;
					height: 2px;
					background: $black;
					transition: 0.3s;
				}
			}
			.header-button{
				cursor: pointer;
				// margin-left: auto;
				.icon{
					width: 24px;
					height: 24px;
					svg{
						width: 100%;
						height: 100%;
						object-fit: contain;
						transition: .3s;
						path{
							transition: .3s;
						}
						circle{
							transition: .3s;
						}
					}
				}
				.label{
					border-radius: 10px;
					background: $red;
					color: $white;
					padding: 1px 5px;
					height: 15px;
					right: -6px;
					top: -5px;
					z-index: 1;
				}
			}
		}
		@media(max-width: 600px){
			padding: 16px 18px 16px 12px;
		}
	}
}
