.subscription{
    padding: 40px;
    background: linear-gradient(269deg, #8DC3FF 0%, #D0D9FF 51.56%, #C9F8FF 100%);
    position: relative;
    height: 144px;
    overflow: hidden;
    @media(max-width: 1080px){
        padding: 40px 0;
        height: auto;
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -50px;
        background: url(../images/before2.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 137px;
        height: 170px;
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: -320px;
        background: url(../images/after2.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 344px;
        height: 482px;
        @media(max-width: 1080px){
            bottom: auto;
            top: 0;
            height: 100%;
            background-size: cover;
        }
    }
    &__wrap{
        position: relative;
        z-index: 1;
        justify-content: center;
        column-gap: 60px;
        @media(max-width: 1080px){
            column-gap: 30px;
            .heading{
                font-size: 20px;
            }
        }
        @media(max-width: 850px){
            flex-direction: column;
            row-gap: 24px;
        }
        .left{
            @media(max-width: 850px){
                text-align: center;
            }
            p{
                margin-top: 8px;
            }
        }
        .right{
            @media(max-width: 600px){
                width: 100%;
            }
            form{
                display: flex;
                align-items: center;
                @media(max-width: 600px){
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                    width: 100%;
                    .input-row{
                        width: 100%;
                    }
                    .main-btn{
                        width: 100%;
                    }
                }
                .input-placeholder-clear{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 16px;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    visibility: hidden;
                    opacity: 0;
                    transition: .3s;
                    &:hover{
                        opacity: 0;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                input{
                    height: 56px;
                    background: $white;
                    border-radius: 8px;
                    border: 1px solid $gray-200;
                    padding: 16px;
                    width: 285px;
                    margin-right: 8px;
                    transition: .3s;
                    padding-right: 40px;
                        &:not(:placeholder-shown){
                            &~.input-placeholder-clear{
                                visibility: visible;
                                opacity: 1;
                                &:hover{
                                    opacity: .5;
                                }
                            }
                        }
                    @media(max-width: 1080px){
                        width: 250px;
                    }
                    @media(max-width: 600px){
                        width: 100%;
                    }
                    &:hover{
                        border: 1px solid $gray;
                    }
                    &:focus{
                        border: 1px solid $gray;
                    }
                }
            }
        }
    }
}