@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

body{
    font-family: $font;
    font-size: 16px;
    color: $black;
    font-feature-settings: 'ss07' on, 'ss08' on, 'ss09' on, 'ss10' on, 'ss11' on, 'salt' on;
    font-weight: 400;
    background: #F6F6F6;
    /*overflow-y: scroll;*/
}
