$spaces: (
    0,
    2,
    3,
    4,
    5,
    8,
    10,
    11,
    12,
    13,
    14,
    15,
    16,
    17,
    18,
    20,
    21,
    22,
    24,
    26,
    28,
    30,
    32,
    34,
    36,
    38,
    40,
    42,
    43,
    44,
    48,
    50,
    54,
    56,
    60,
    62,
    64,
    68,
    70,
    72,
    73,
    80,
    82,
    85,
    88,
    90,
    94,
    100,
    102,
    104,
    110,
    113,
    115,
    120,
    121,
    135,
    138,
    140,
    145,
    150,
    172,
    174,
    200,
    223,
    232,
    236,
    250,
    263,
    270
);

$lhs: (80, 88, 90, 94, 100, 105, 110, 115, 120, 130, 136, 140, 150, 160, 170, 180, 190, 200);

$sides: (
    'top': 't',
    'right': 'r',
    'bottom': 'b',
    'left': 'l',
);
.fw-300{
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}
.fw-400-mob {
    font-weight: 400;
}
.fw-500-mob {
    font-weight: 500;
}
.fw-600-mob {
    font-weight: 600;
}
.fw-700-mob {
    font-weight: 700;
}
.fw-900-mob {
    font-weight: 900;
}

.ls-32 {
    letter-spacing: -3.2px;
}
.ls-3 {
    letter-spacing: -3px;
}
.ls-1 {
    letter-spacing: -1px;
}
.ls-05 {
    letter-spacing: -0.5px;
}
.ls-048 {
    letter-spacing: -0.48px;
}
.ls-832 {
    letter-spacing: -8.32px;
}
.ls-576 {
    letter-spacing: -5.76px;
}
.ls-192 {
    letter-spacing: -1.92px;
}
.ls-256-mob {
    @media (max-width: $mob) {
        letter-spacing: -2.56px;
    }
}
.ls-128-mob {
    @media (max-width: $mob) {
        letter-spacing: -1.28px;
    }
}
.ls-024-mob {
    @media (max-width: $mob) {
        letter-spacing: -0.24px;
    }
}
.ls-032-mob {
    @media (max-width: $mob) {
        letter-spacing: -0.32px;
    }
}
.ls-384-mob {
    @media (max-width: $mob) {
        letter-spacing: -3.84px;
    }
}

.mw-434 {
    max-width: 434px;
    @media (max-width: $mob) {
        max-width: 100%;
    }
}

.mw-620 {
    max-width: 620px;
    @media (max-width: $mob) {
        max-width: 100%;
    }
}
.mw-650 {
    max-width: 650px;
    @media (max-width: $mob) {
        max-width: 100%;
    }
}
.mw-670 {
    max-width: 670px;
    @media (max-width: $mob) {
        max-width: 100%;
    }
}
.mw-840 {
    max-width: 840px;
    @media (max-width: $mob) {
        max-width: 100%;
    }
}

.w-full {
    width: 100%;
}
.text--center {
    &.mw-630 {
        margin-left: auto;
        margin-right: auto;
    }
}

@each $space in $spaces {
    @each $side, $letter in $sides {
        .m#{$letter}-#{$space} {
            margin-#{$side}: #{$space}px!important;
        }
        .m#{$letter}--#{$space} {
            margin-#{$side}: -#{$space}px!important;
        }

        .p#{$letter}-#{$space} {
            padding-#{$side}: #{$space}px!important;
        }
        .m-#{$space} {
            margin: #{$space}px!important;
        }
        .m--#{$space} {
            margin: -#{$space}px!important;
        }
        .p-#{$space} {
            padding: #{$space}px!important;
        }
        .radius-#{$space} {
            border-radius: #{$space}px;
        }
        .fsz-#{$space} {
            font-size: #{$space}px;
        }
        .gap-#{$space} {
            gap: #{$space}px;
        }
        .row-gap-#{$space} {
            row-gap: #{$space}px;
        }
        .column-gap-#{$space} {
            column-gap: #{$space}px;
        }
    }
}

@media (max-width: $tablet) {
    @each $space in $spaces {
        @each $side, $letter in $sides {
            .m#{$letter}-#{$space}#{'-tablet'} {
                margin-#{$side}: #{$space}px !important;
            }

            .p#{$letter}-#{$space}#{'-tablet'} {
                padding-#{$side}: #{$space}px !important;
            }
            .m-#{$space}#{'-tablet'} {
                margin: #{$space}px;
            }
            .p-#{$space}#{'-tablet'} {
                padding: #{$space}px;
            }
            .radius-#{$space}#{'-tablet'} {
                border-radius: #{$space}px;
            }
            .fsz-#{$space}#{'-tablet'} {
                font-size: #{$space}px;
            }
            .gap-#{$space}#{'-tablet'} {
                gap: #{$space}px;
            }
            .row-gap-#{$space}#{'-tablet'} {
                row-gap: #{$space}px;
            }
            .column-gap-#{$space}#{'-tablet'} {
                column-gap: #{$space}px;
            }
        }
    }
}

@media (max-width: $mob) {
    @each $space in $spaces {
        @each $side, $letter in $sides {
            .m#{$letter}-#{$space}#{'-mob'} {
                margin-#{$side}: #{$space}px !important;
            }

            .p#{$letter}-#{$space}#{'-mob'} {
                padding-#{$side}: #{$space}px !important;
            }
            .m-#{$space}#{'-mob'} {
                margin: #{$space}px;
            }
            .p-#{$space}#{'-mob'} {
                padding: #{$space}px;
            }
            .radius-#{$space}#{'-mob'} {
                border-radius: #{$space}px;
            }
            .fsz-#{$space}#{'-mob'} {
                font-size: #{$space}px;
            }
            .gap-#{$space}#{'-mob'} {
                gap: #{$space}px;
            }
            .row-gap-#{$space}#{'-mob'} {
                row-gap: #{$space}px;
            }
            .column-gap-#{$space}#{'-mob'} {
                column-gap: #{$space}px;
            }
        }
    }
}
.mb-auto {
    margin-bottom: auto;
}
.mt-auto {
    margin-top: auto;
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
@each $lh in $lhs {
    .lh-#{$lh} {
        line-height: #{$lh}#{'%'};
    }
}
@media (max-width: $mob) {
    @each $lh in $lhs {
        .lh-#{$lh}#{'-mob'} {
            line-height: #{$lh}#{'%'} !important;
        }
    }
}

.mob-visible {
    display: none !important;
    @media (max-width: $mob) {
        display: block !important;
    }
}
.tablet-visible {
    display: none !important;
    @media (max-width: $tablet) {
        display: block !important;
    }
}
@media (max-width: $mob) {
    .pc-visible {
        display: none !important;
    }
}
