

$container:1400px;

$padd:calc((100vw - $container) / 2);


$black: #0A0527;
$black-100: #41435A;
$gray: #606272;
$gray-100: #AFB1C3;
$gray-200: #F0F1F3;
$white: #ffffff;
$white-100: #f6f6f6;
$blue: #2264DC;
$blue-100: #588AE5;
$blue-200: #4079E1;
$blue-dark: #214FAC;
$red: #FF1523;
$green: #24AC05;
$orange: #FFA41C;
$font:'Wix Madefor Display';

$mob:600px;
$pc-small:1200px;
$tablet:1180px;
$tablet-medium:992px;







